@use 'abstracts' as *;

.footer {
  --padding-container: #{rem(40) 0};

  $gradient: linear-gradient(180deg, rgba(0, 50, 99, 0) 0%, rgba(0, 50, 99, 0.64) 76.2%), linear-gradient(180deg, rgba(30, 58, 85, 0.68) 0%, rgba(53, 110, 163, 0.0966914) 30.95%, rgba(56, 115, 171, 0) 100%);
  border: none;
  background: linear-gradient(91.1deg, #0B2C4D 0.76%, #0D3357 100.12%);
  box-sizing: border-box;
  backdrop-filter: blur(124px);
  display: grid;
  grid-template-areas:
    'logo'
    'csisdesc'
    'newsletter'
    'social'
    'copyright';
  grid-template-columns: 1fr;
  margin-top: auto;
  padding: var(--padding-container);
  @extend %text-style-paragraph-medium-short;
  color: $color-white-190;
  background: $gradient;
  @include full-width-background($gradient);

  @include breakpoint('small') {
    --padding-container: #{rem(32) 0};
    grid-template-areas:
      'logo logo'
      'csisdesc csisdesc'
      'newsletter social'
      'copyright copyright';
    grid-template-columns: auto;
  }

  @include breakpoint('medium') {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint('large') {
    --padding-container: #{rem(24) 0};
    grid-template-areas:
      'logo logo logo'
      'csisdesc newsletter social'
      'copyright copyright copyright';
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__description {
    .widget {
      margin-bottom: rem(12);

      &:first-of-type {
        margin-bottom: rem(16);

        &::after {
          content: '';
          display: block;
          width: rem(100);
          padding-top: rem(15);
          border-bottom: 1px solid $color-border-light-115;
        }
      }
      &:last-of-type {
        margin: 0;
      }
    }
  }

  a {
    &:hover {
      color: $color-white-100;
    }
  }

  &__logo {
    grid-area: logo;
    max-width: rem(300);
    margin-bottom: rem(16);
  }

  &__desc {
    grid-area: csisdesc;
    margin-bottom: rem(40);
  }

  // .widget {
  //   margin-bottom: rem(24);

  //   @include breakpoint('large') {
  //     position: relative;
  //     margin-bottom: rem(32);
  //   }

  //   &::after {
  //     @include breakpoint('large') {
  //       content: '';
  //       position: absolute;
  //       top: calc(100% + #{rem(16)});
  //       left: 0;
  //       display: block;
  //       width: rem(100);
  //       margin-bottom: rem(16);
  //       border-bottom: 1px solid $color-border-light-115;
  //     }
  //   }
  // }

  &__desc + .widget {
    grid-area: newsletter;
  }

  &__social {
    display: grid;
    grid-area: social;
    align-content: start;
    margin-top: rem(32);
    padding-top: rem(24);
    border-top: 1px solid $color-border-light-115;

    @include breakpoint('small') {
      margin-top: 0;
      padding-top: 0;
      padding-left: rem(16);
      border-top: 0;
      border-left: 1px solid $color-border-light-115;
    }

    @include breakpoint('medium') {
      padding-left: rem(24);
    }
  }

  &__social-icons {
    margin-left: rem(-8);
    color: $color-white-165;
    @include font-size(28px);
  }

  &__copyright {
    grid-area: copyright;
    margin-top: rem(16);
    color: $color-white-165;
    text-align: left;

    a {
      color: $color-white-165;

      &:hover {
        color: $color-white-100;
      }

      &:focus {
        color: $color-white-100;
      }
    }
  }

  // .newsletter-block {

  // }

  &__newsletter {
    margin: rem(32) 0;

    h2 {
      @extend %text-style-label-large-caps;
    }

    .widget {
      div div {
        heading, p {
          display: block;
          margin-top: rem(8);
        }

        heading {
          color: $color-accent-secondary-yellow-100;
          @extend %text-style-label-medium;
        }

        heading.daily{
          margin-top: rem(24);
        }

        a {
          --buttonheight: #{rem(45)};
          @extend %text-style-label-large;
          display: block;
          width: 116px;
          height: var(--buttonheight);
          margin-top: rem(12);
          font-size: 18px;
          line-height: var(--buttonheight);
          text-align: center;
          background-color: #0f609d;
          border-radius: 2px;
        }

      }

    }
  }

  // &__newsletter {
  //   @include breakpoint('small') {
  //     margin-right: rem(4);
  //   }

  //   @include breakpoint('medium') {
  //     margin-right: rem(24);
  //   }

  //   @include breakpoint('large') {
  //     margin-left: rem(40);
  //   }
  // }

  // &__newsletter-desc {
  //   color: $color-white-165;
  // }

  // &__newsletter,
  // &__social {
  //   text-align: center;

  //   @include breakpoint('small') {
  //     text-align: left;
  //   }
  // }

  // &__newsletter-header,
  // &__social-header {
  //   margin-bottom: rem(8);
  //   font-weight: 700;
  //   font-size: rem(18);
  // }

  // &__newsletter-desc {
  //   margin-bottom: rem(24);
  // }

  // &__newsletter-button {
  //   margin-bottom: rem(16);
  // }
}
