@use 'abstracts' as *;
@import '../components/communication-block-widget';

.footer {
  --padding-container: #{rem(40) 0};
  --margin-news-social-block: #{rem(32) 0};
  /* stylelint-disable-next-line */
  $footerBubbles: "data:image/svg+xml,%3Csvg width='1461' height='1376' viewBox='0 0 1461 1376' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f)'%3E%3Cellipse cx='225.076' cy='231.049' rx='101.076' ry='107.049' fill='%23335F8A'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f)'%3E%3Cellipse cx='645.098' cy='315.39' rx='180.711' ry='191.39' fill='%233F6D98'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f)'%3E%3Cellipse cx='1212.68' cy='415.724' rx='123.827' ry='165.724' fill='%232D6994'/%3E%3C/g%3E%3Cg filter='url(%23filter3_f)'%3E%3Cellipse cx='427.076' cy='581.049' rx='101.076' ry='107.049' fill='%23163553'/%3E%3C/g%3E%3Cg filter='url(%23filter4_f)'%3E%3Cellipse cx='263.636' cy='560.334' rx='38.4' ry='53.6666' fill='%236082A3'/%3E%3C/g%3E%3Cg filter='url(%23filter5_f)'%3E%3Cellipse cx='397.098' cy='985.39' rx='180.711' ry='191.39' fill='%233F6D98'/%3E%3C/g%3E%3Cg filter='url(%23filter6_f)'%3E%3Cellipse cx='964.682' cy='1085.72' rx='123.827' ry='165.724' fill='%232D6994'/%3E%3C/g%3E%3Cg filter='url(%23filter7_f)'%3E%3Cellipse cx='600.019' cy='1126.46' rx='101.076' ry='107.049' fill='%23163553'/%3E%3C/g%3E%3Cg filter='url(%23filter8_f)'%3E%3Cellipse cx='819.076' cy='742.049' rx='101.076' ry='107.049' fill='%23335F8A'/%3E%3C/g%3E%3Cg filter='url(%23filter9_f)'%3E%3Cellipse cx='1158.39' cy='740.909' rx='100' ry='105.909' fill='%233F6D98'/%3E%3C/g%3E%3Cg filter='url(%23filter10_f)'%3E%3Cellipse cx='1120.08' cy='678.049' rx='101.076' ry='107.049' fill='%23163553'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='0' y='0' width='450.151' height='462.098' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter1_f' x='340.387' y='0' width='609.422' height='630.781' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter2_f' x='964.854' y='126' width='495.655' height='579.447' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter3_f' x='202' y='350' width='450.151' height='462.098' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter4_f' x='101.236' y='382.667' width='324.8' height='355.333' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter5_f' x='92.3867' y='670' width='609.422' height='630.781' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter6_f' x='716.854' y='796' width='495.655' height='579.447' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter7_f' x='374.943' y='895.414' width='450.151' height='462.098' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter8_f' x='594' y='511' width='450.151' height='462.098' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter9_f' x='934.387' y='511' width='448' height='459.819' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3Cfilter id='filter10_f' x='895' y='447' width='450.151' height='462.098' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E";
  /* stylelint-disable-next-line */
  $gradient: url($footerBubbles), linear-gradient(180deg, rgba(16, 48, 79, 0.68) 0%, rgba(53, 110, 163, 0.0966914) 30.95%, rgba(56, 115, 171, 0) 100%), linear-gradient(180.1deg, #1C4973 0.76%, #08223A 100.12%);
  
  display: grid;
  grid-template-areas:
    'logo'
    'csisdesc'
    'newsletter'
    'social'
    'copyright';
  padding: var(--padding-container);
  color: $color-white-190;
  background: transparent;
  @extend %text-style-paragraph-medium-short;
  @include full-width-bg-2($gradient);

  @include breakpoint('small') {
    --padding-container: #{rem(32) 0};
    --margin-news-social-block: #{rem(24) 0};
    grid-template-areas:
      'logo logo'
      'csisdesc csisdesc'
      'newsletter social'
      'copyright copyright';
  }

  @include breakpoint('medium') {
    --margin-news-social-block: #{rem(24) 0 rem(16) 0};
  }

  @include breakpoint('large') {
    --padding-container: #{rem(24) 0};
    --margin-news-social-block: #{rem(8) 0 rem(16) 0};
    grid-template-areas:
      'logo logo logo'
      'csisdesc newsletter social'
      'copyright copyright copyright';
    grid-template-columns: auto rem(252) rem(185);
  }

  @include breakpoint('xlarge') {
    grid-template-columns: auto rem(252) rem(232);
  }

  &__description {
    grid-area: csisdesc;

    .widget {
      margin-bottom: rem(12);

      /* stylelint-disable */
      &:first-of-type {
        margin-bottom: rem(16);

        &::after {
          display: block;
          width: rem(96);
          padding-top: rem(15);
          border-bottom: 1px solid $color-border-light-115;
          content: '';
        }
      }
      /* stylelint-enable */

      &:last-of-type {
        margin: 0;
      }
    }

    @include breakpoint('large') {
      margin: var(--margin-news-social-block);
      margin-right: rem(40);
    }
  }

  a {
    &:hover {
      color: $color-white-100;
    }
  }

  &__logo {
    grid-area: logo;
    margin-bottom: rem(16);

    &--medium {
      display: none;
      @include breakpoint('medium') {
        display: block;
      }
    }

    &--small {
      @include breakpoint('medium') {
        display: none;
      }
    }
  }

  &__social-icons {
    margin-left: rem(-8);
    color: $color-white-165;
    @include font-size(28px);

    a:nth-of-type(4) {
      padding-right: rem(5);
    }
  }

  &__copyright {
    grid-area: copyright;
    color: $color-white-165;
    text-align: left;

    a {
      color: $color-white-165;
      text-decoration: underline;
    }
  }

  .communication-block {
    a {
      --buttonheight: #{rem(45)};
      @extend %text-style-label-large;
      display: block;
      width: 116px;
      height: var(--buttonheight);
      margin-top: rem(12);
      font-size: 18px;
      line-height: var(--buttonheight);
      text-align: center;
      background-color: #0f609d;
      border-radius: 2px;
    }
  }

  &__newsletter {
    grid-area: newsletter;
    margin: var(--margin-news-social-block);

    h2 {
      @extend %text-style-label-large-caps;
    }

    @include breakpoint('small') {
      padding-right: rem(24);
      border-right: 1px $color-border-light-115 solid;
    }
  }

  &__contact {
    grid-area: social;
    margin: var(--margin-news-social-block);
    margin-top: 0;

    h2 {
      @extend %text-style-label-large-caps;
    }

    .widget {
      margin-bottom: rem(24);
    }

    @include breakpoint('small') {
      margin: var(--margin-news-social-block);
      padding-left: rem(24);
    }
  }
}
