@use '../abstracts' as *;

.archive {
  background: $color-bg-light-200;

  &__content {
    max-width: $size__archive-max-width;
    margin-right: auto;
    margin-left: auto;

    > *:not(.cards__container):last-child {
      margin-bottom: rem(40);

      @include breakpoint('large') {
        margin-bottom: rem(56);
      }
    }
  }

  &__base {
    @include shadow('lg');
    margin-top: rem(32);
  }

  &__featured {
    .post-block {
      padding-top: rem(34);

      @include breakpoint('small') {
        padding: rem(40) rem(40) rem(40) rem(50);
      }

      @include breakpoint('medium') {
        @include shadow('lg');
      }

      @include breakpoint('large') {
        margin-bottom: rem(8);
        padding: rem(48);
        column-gap: rem(40);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(10);
        background-color: $color-accent-secondary-yellow-100;

        @include breakpoint('small') {
          width: rem(10);
          height: 100%;
        }
      }
    }
  }
}

.pagination__results {
  @extend %text-style-label-medium;
  padding-bottom: rem(16);
  color: $color-black-180;
  font-weight: normal;
  border-bottom: 1px solid $color-border-dark-130;
}

.pagination__wrapper {
  display: flex;
  gap: rem(12);
  justify-content: flex-start;
  align-items: center;
  color: $color-black-165;

  .pagination {
    @extend %text-style-label-medium;
    font-weight: normal;
  }

  .page-numbers {
    padding-top: rem(4);
    padding-bottom: rem(4);
    border-radius: 2px;

    &:hover {
      color: $color-accent-primary-blue-300;
      background: $color-bg-light-200;
    }

    &:focus {
      color: $color-black-165;
      background: $color-focus-300;
    }

    &:not(.prev):not(.next):not(.dots) {
      padding-right: rem(10);
      padding-left: rem(10);
    }
  }

  .current {
    position: relative;
    color: $color-white-190;
    background: $color-accent-primary-blue-200;

    &:hover {
      color: $color-white-190;
      background: $color-accent-primary-blue-300;
    }
  }

  .page-numbers:first-child {
    padding-left: 0 !important;
  }

  .prev,
  .next {
    position: relative;
    top: rem(2); // vertically center arrows
    font-size: 0.75em;
  }

  .icon-chevron-line-left,
  .icon-chevron-line-right {
    position: relative;
    top: rem(2); // vertically center arrows
  }

  .icon-chevron-left,
  .icon-chevron-right {
    @include font-size(16px);
  }

  .placeholder {
    display: none;
  }
}

.cards__container {
  margin-top: rem(40);
  @include csis-block-full-width-wrapper;

  @include breakpoint('large') {
    display: flex;
    margin-top: rem(56);
  }
}

.card {
  flex: 0 0 50%;
  padding: rem(24) 6vw;
  background-repeat: no-repeat;
  background-size: cover;

  &__link {
    display: block;
    max-width: rem(400);
    margin: auto;
    padding: rem(24);
    // background-color: $color-bg-dark-290;
    @include shadow(md);

    &:hover .card__title {
      // color: $color-link-primary-200;
    }

    &:focus .card__title {
      background: $color-bg-light-400;
    }
  }

  &__title {
    @extend %text-style-heading-large-strong;
    margin-bottom: rem(12);
    color: $color-white-100;
    transition: color 0.3s ease-in-out;
  }

  .icon {
    margin-right: rem(12);
  }

  &__description {
    @extend %text-style-label-large;
    display: flex;
    color: $color-white-190;
  }
}
