@use '../abstracts' as *;
@use '../components/carousel';
@use '../components/home-issue-block';
@use '../components/home-about-poni';
@use '../components/home-event-block';
@use '../components/home-pungh.scss';
@use '../components/home-projects';
@use '../components/home-programs';

/* stylelint-disable max-nesting-depth, selector-max-compound-selectors */

.home {
  // TODO: Remove this and replace with real layout styles
  &__projects {
    max-width: 800px;
  }

  &__pungh {
    // TODO: Remove this & make breakpoint adjustments as necessary in home-pungh.scss component if not switching positions at the large breakpoint.
    @include breakpoint('large') {
      max-width: 50%;
    }
  }

  #site-content {
    // grid-template-areas:
    //   'header header'
    //   'featured recent'
    //   'cta cta'
    //   'content content';
    // margin-top: rem(116);

    @include breakpoint('large') {
      // display: grid;
      // grid-template-columns: minmax(50%, auto) rem(330);
      align-items: start;
      // margin-top: rem(124);
    }

    @include breakpoint('xlarge') {
      // margin-top: rem(132);
    }
  }

  &__top {
    @include vw100();
    position: relative;
    max-width: $size__container-max-width;
    height: 100%;
    margin-right: auto;
    margin-left: -6vw;
    padding-top: rem(116);
    padding-right: 6vw;
    padding-right: var(--container-padding);
    padding-left: 6vw;
    padding-left: var(--container-padding);
    background-image: url('../../_img/homepage_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint('large') {
      padding-top: rem(124);
    }

    @include breakpoint('xlarge') {
      padding-top: rem(132);
    }
  }

  &__subtitle {
    --home-subtitle-color: #{$color-black-190};
    --home-subtitle-border: #{$color-accent-secondary-yellow-100};
    @extend %text-style-heading-x-large-strong;
    color: var(--home-subtitle-color);

    &--border {
      &::after {
        content: '';
        display: block;
        width: rem(45);
        height: rem(4);
        margin: rem(12) 0 rem(16);
        background-color: var(--home-subtitle-border);
      }
    }

    &--sm {
      @extend %text-style-heading-large-strong;
      color: var(--home-subtitle-color);
    }
  }

  &__archive-link {
    display: inline-flex;
    gap: rem(8);
    align-items: flex-end;
    @extend %text-style-label-medium;
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);

      .icon {
        color: var(--icon-hover-color, inherit);
      }
    }

    .icon {
      color: var(--icon-color, inherit);
    }
  }

  &__recent {
    position: relative;
    z-index: 1;
    grid-area: recent;
    padding-top: rem(24);
    padding-bottom: rem(32);
    background: $color-bg-dark-200;
    @include full-width-background($color-bg-dark-200);

    @include breakpoint('small') {
      padding-right: rem(24);
      padding-left: rem(24);
    }

    @include breakpoint('large') {
      margin-top: rem(-160);
    }

    &::after,
    &::before {
      @include breakpoint('small') {
        display: none;
      }
    }

    &-label {
      @extend %text-style-heading-large-strong;
    }

    .icon-3-arrows {
      width: rem(36);
      height: rem(18);
      margin-top: rem(4);
    }

    &-posts {
      margin-top: rem(32);
    }

    .post-block {
      display: block;
      padding-bottom: rem(32);
      background: $color-bg-dark-200;
      @include full-width-background($color-bg-dark-200);

      @include breakpoint('small') {
        &::after,
        &::before {
          display: none;
        }
      }

      @include breakpoint('large') {
        &:last-child {
          border-bottom: 0;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-border-light-115;
      }

      &:first-of-type {
        margin-top: 0;
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &__img {
        display: none;
      }

      &__title,
      .post-meta__date {
        margin-bottom: rem(16);
      }

      &__excerpt {
        margin-bottom: rem(8);
      }

      .post-meta__categories li:not(:last-of-type)::after {
        border-right: 1px solid $color-border-light-130;
      }
    }
  }

  &__featured-posts {
    grid-area: featured-posts;

    hr {
      height: 1px;
      margin-top: rem(24);
      margin-bottom: rem(40);
      color: $color-border-dark-130;
      background-color: $color-border-dark-130;
      border: unset;

      @include breakpoint('large') {
        display: none;
      }
    }

    .post-meta__authors {
      padding-bottom: rem(4);
    }

    .post-meta__date {
      margin-bottom: rem(16);
    }

    .post-block__excerpt {
      @extend %text-style-paragraph-medium-short;
      margin-bottom: 0;
    }

    .featured-event-date {
      margin-left: rem(8);
    }

    &-primary {
      padding-bottom: rem(56);
      background-color: $color-blue-000;
      @include full-width-background($color-blue-000);

      @include breakpoint('xmedium') {
        @include full-width-background(transparent);
      }

      .feat-post {
        --gradient-bottom-height: #{rem(80)};

        .aspect-ratio {
          --aspect-ratio: #{calc(4 / 3)};
          position: relative;
          width: calc(100% + 12vw);
          height: 0;
          margin-left: -6vw;
          padding-top: calc(100% / var(--aspect-ratio));

          @include breakpoint('xmedium') {
            width: 100%;
            margin-left: 0;
          }
        }

        &__image {
          position: absolute;
          top: 0;
          left: 0;
          @include z-index('hpFeatImg');
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(10, 35, 58, 0.7) 0%, #0a233a 100%);
          background-position: center;
          background-size: cover;
        }

        @include breakpoint('small') {
          &__gradient-top,
          &__gradient-bottom {
            position: absolute;
            width: 100%;
          }

          &__gradient-top {
            bottom: var(--gradient-bottom-height);
            height: rem(72);
            background: linear-gradient(180deg, rgba(10, 35, 58, 0) 0%, rgba(10, 35, 58, 0.7) 100%);
          }

          &__gradient-bottom {
            bottom: 0;
            width: 100%;
            height: var(--gradient-bottom-height);
            background: linear-gradient(180deg, rgba(10, 35, 58, 0.7) 0%, #0a233a 100%);
          }
        }

        &__content {
          position: relative;
          @include z-index('hpFeatContent');

          @include breakpoint('small') {
            margin-top: calc(var(--gradient-bottom-height) * -1);
          }

          @include breakpoint('xmedium') {
            padding-right: rem(56);
            padding-left: rem(56);
          }
        }

        &__title {
          padding-bottom: rem(16);
          color: $color-white-100;
          @extend %text-style-heading-large-strong;

          @include breakpoint('xmedium') {
            @include font-clamp(24px, 32px);
          }

          a {
            &:hover {
              color: $color-accent-secondary-yellow-100;
            }

            &:focus {
              background-color: $color-accent-primary-blue-100;
              outline: 0;
            }
          }
        }
      }

      .post-meta__terms,
      .post-meta__authors,
      .post-meta__series {
        a {
          color: $color-accent-secondary-yellow-100;

          &:hover,
          &:focus {
            color: $color-white-100;
          }

          &:focus {
            background: $color-accent-primary-blue-100;
          }
        }
      }

      .post-meta__terms {
        padding-top: rem(16);
        color: $color-accent-secondary-yellow-100;
      }

      .post-meta__authors {
        color: $color-white-180;
      }

      .post-meta__series {
        margin-top: rem(24);
        padding-top: rem(24);
        border-top: 1px solid $color-border-light-130;
      }

      .post-meta__date {
        color: $color-white-190;
      }

      .post-meta__label {
        color: $color-white-180;
      }

      .post-block__excerpt {
        color: $color-white-190;
      }
    }

    &-secondary {
      @include full-width-background($color-bg-light-400);
      padding: rem(56) 0;
      background-color: $color-bg-light-400;

      @include breakpoint('medium') {
        display: flex;
        column-gap: rem(40);
      }

      @include breakpoint('xmedium') {
        @include full-width-background(transparent);
        padding-right: 6vw;
        padding-left: 6vw;
      }

      @include breakpoint('large') {
        display: block;
        padding-right: rem(40);
        padding-left: rem(40);
      }

      .feat-post {
        flex: 1;

        &:first-child {
          @include breakpoint('large') {
            margin-bottom: rem(40);
          }

          @include breakpoint('xlarge') {
            margin-bottom: 0;
          }
        }

        &__title {
          @extend %text-style-heading-medium-strong;
          padding-bottom: rem(12);

          a {
            &:hover {
              color: $color-accent-primary-blue-200;
            }

            &:focus {
              background-color: $color-bg-light-300;
              outline: 0;
            }
          }
        }
      }

      .post-meta__date {
        color: $color-black-190;
      }

      .post-meta__label {
        color: $color-black-180;
      }

      .post-meta__series {
        margin-top: rem(16);

        @include breakpoint('medium') {
          margin-top: rem(24);
          padding-top: rem(24);
          border-top: 1px solid $color-border-dark-130;
        }
      }
    }
  }

  &__cta {
    grid-area: cta;
    padding-top: rem(40);
    padding-bottom: rem(64);
    background: $color-bg-light-200;
    @include full-width-background($color-bg-light-200, '', false);

    .icon {
      margin-left: rem(8);
    }
  }

  &__featured-content {
    @include csis-block-full-width-wrapper();
    grid-area: content;
    padding-top: rem(20);
    padding-bottom: rem(20);

    @include breakpoint('large') {
      padding-top: rem(48);
      padding-bottom: rem(60);
    }

    @include breakpoint('xxlarge') {
      padding-left: rem(80);
    }

    &-wrapper {
      margin-right: 6vw;
      margin-left: 6vw;
      padding: rem(40);
      color: $color-white-100;
      // background-color: $color-bg-dark-290;

      @include breakpoint('large') {
        width: 44vw;
        max-width: rem(800);
      }

      @include breakpoint('xxlarge') {
        margin-left: calc(((100vw - 1400px) / 2) - var(--scrollbarHalf));
      }
    }

    &-title {
      @extend %text-style-heading-2-x-large;
    }

    &-desc {
      @extend %text-style-label-large;
      margin-top: rem(32);
      margin-bottom: rem(32);

      *:not(:last-child) {
        margin-bottom: rem(8);
      }

      ul {
        padding-left: 0;
        list-style: none;
      }

      li {
        display: flex;
        align-items: center;
      }

      li::before {
        margin-right: rem(22);
      }

      li:first-child::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%23B4D0D0"/%3E%3C/svg%3E');
      }

      li:nth-child(2)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%236ABEB0"/%3E%3C/svg%3E%0A');
      }

      li:nth-child(3)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%233D8283"/%3E%3C/svg%3E%0A');
      }

      li:nth-child(4)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%232C6565"/%3E%3C/svg%3E%0A');
      }
    }

    &-link {
      display: flex;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;

      .icon {
        margin-left: rem(8);
      }
    }
  }

  &__event-and-posts-block {
    display: grid;
    grid-template-areas:
      'event'
      'news'
      'twitter';
    padding-top: rem(40);
    padding-bottom: rem(72);
    color: $color-white-100;
    column-gap: rem(40);

    @include breakpoint(small) {
      padding-top: rem(72);
    }

    @include breakpoint(medium) {
      grid-template-areas:
        'event twitter'
        'news twitter';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content;
    }

    @include breakpoint(large) {
      grid-template-areas:
        'event'
        'news'
        'twitter';
      grid-template-columns: 1fr;
      padding-top: rem(40);
    }

    &-title {
      margin-bottom: rem(16);
      @extend %text-style-heading-large-strong;

      &--twitter {
        margin-top: rem(32);
        @include breakpoint(medium) {
          margin-top: 0;
        }

        @include breakpoint(large) {
          margin-top: rem(32);
        }
      }
    }

    hr {
      height: 3px;
      margin: rem(40) -6vw 0;
      color: $color-border-light-115;
      background-color: $color-border-light-115;
      border: unset;

      @include breakpoint(medium) {
        margin-right: 0;
      }

      @include breakpoint(large) {
        display: block;
        margin: 0 -6%;
        margin-top: rem(40);
      }
    }

    &::after,
    &::before {
      z-index: -1;
    }

    .twitter-section {
      grid-area: twitter;
    }

    .upcoming-event {
      grid-area: event;

      hr {
        margin-bottom: rem(32);
      }
    }

    .recent-posts {
      grid-area: news;

      hr {
        @include breakpoint(medium) {
          display: none;
        }

        @include breakpoint(large) {
          display: block;
        }
      }

      .post-block-related {
        text-align: left;

        &__title {
          @extend %text-style-heading-medium;
          color: $color-white-100;

          &:hover {
            color: $color-accent-secondary-yellow-100;
          }

          &:focus {
            background-color: $color-accent-primary-blue-100;
          }
        }

        .post-meta__date {
          .post-meta__label {
            display: none;
          }
        }

        .post-meta__terms {
          color: $color-accent-secondary-yellow-100;

          a {
            color: $color-accent-secondary-yellow-100;
          }

          &-type,
          a {
            &:hover {
              color: $color-white-100;
            }

            &:focus {
              color: $color-white-100;
              background-color: $color-accent-primary-blue-100;
            }
          }
        }

        .post-meta__date {
          --post-meta: #{$color-white-180};
          @extend %text-style-label-medium;
        }
      }

      .post-block-related:not(:first-of-type):not(:last-of-type) {
        margin: rem(40) 0;
      }
    }
  }

  .newsletter-block-acf {
    display: grid;
    grid-template-areas:
      'header'
      'daily'
      'monthly';
    padding-top: rem(56);
    padding-bottom: rem(72);
    @include full-width-background(linear-gradient(180deg, #153b6a 0%, #215f8c 100%));
    background: linear-gradient(180deg, #153b6a 0%, #215f8c 100%);
    background-image: url('../../static/missile-newsletter.svg'), linear-gradient(180deg, #153b6a 0%, #215f8c 100%);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    @include breakpoint(medium) {
      grid-template-areas:
        'header header'
        'daily monthly';
      column-gap: rem(40);
    }

    @include breakpoint(large) {
      grid-template-areas: 'header daily monthly';
    }

    .home__subtitle {
      --home-subtitle-color: #{$color-white-100};
      grid-area: header;
    }

    p {
      flex-basis: 100%;
      margin-top: rem(8);
      margin-bottom: rem(24);
      @extend %text-style-paragraph-large;
    }

    .daily,
    .monthly {
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      color: $color-white-190;

      @include breakpoint(large) {
        max-width: 30vw;
        padding-top: 0 !important;
      }

      h3 {
        @extend %text-style-heading-large-strong;
        margin-top: 0;
      }
    }

    .daily {
      grid-area: daily;
      padding-top: rem(16);
      padding-bottom: rem(32);
    }

    .monthly {
      grid-area: monthly;
      padding-top: rem(24);

      @include breakpoint(medium) {
        padding-top: rem(16);
      }
    }

    .recent-news {
      flex-basis: 100%;

      @include breakpoint(small) {
        flex-basis: 50%;
        margin-left: rem(48);
        padding-top: rem(8);
      }

      @include breakpoint(medium) {
        flex-basis: 100%;
        margin-left: 0;
        padding-top: 0;
      }
      @include breakpoint(xlarge) {
        flex-basis: auto;
        margin-left: rem(48);
        padding-top: rem(8);
      }

      :nth-child(2) {
        padding-top: rem(16);
      }

      a {
        display: flex;
        align-items: flex-end;
        color: $color-white-180;
        @extend %text-style-label-medium;

        &:hover {
          color: $color-white-100;
        }

        &:focus {
          color: $color-white-100;
          background-color: $color-accent-primary-100;
        }

        .icon {
          margin-left: rem(6);
        }
      }
    }

    .subscribe {
      margin-bottom: rem(24);
    }
  }
}
