body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include fontSize(16px);
	line-height: $font__line-height-body;

	@include breakpoint("medium") {
		@include fontSize(18px);
	}
}

.body-small {
	color: $color__text-main;
	font-family: $font__main;
	@include fontSize(16px);
	line-height: $font__line-height-body;
}

/*================================
=            Headings            =
================================*/

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

%h1 {
	font-family: $font__lato;
	@include fontSize(50px);
	font-weight: 400;
	line-height: 1.2;
	color: $primary-blue;
	margin: 0 0 1rem 0;
	
}

%h2 {
	font-family: $font__lato;
	@include fontSize(30px);
	line-height: 1.2;
	font-weight: 300;
	color: $primary-blue;
	margin: 1rem 0;
}

%h3 {
	font-family: $font__lato;
	@include fontSize(26px);
	line-height: 1.2;
	font-weight: normal;
	color: $black;
	margin: 1rem 0;
}

%h4 {
	font-family: $font__lato;
	@include fontSize(20px);
	line-height: 1.25;
	font-weight: 300;
	color: $black;
	margin: 1rem 0;

	@include breakpoint("medium") {
		@include fontSize(25px);
	}
}

%h5 {
	font-family: $font__lato;
	@include fontSize(18px);
	line-height: 1.2;
	font-weight: normal;
	color: $black;
	margin: 1rem 0;
}

%h6 {
	font-family: $font__lato;
	@include fontSize(16px);
	line-height: 1.2;
	font-weight: 300;
	color: $black;
	letter-spacing: 1.4px;
	margin: 1rem 0;
}

%page-title {
	font-family: $font__lato;
	@include fontSize(48px);
	line-height: 1.27;
	font-weight: bold;
	letter-spacing: 0.6px;
	color: $black;
	text-align: center;
}

%post-title {
	margin: 0;
	font-family: $font__ptsans;
	@include fontSize(22px);
	line-height: 1.32;
	font-weight: 600;
	letter-spacing: 0.1px;
}

%homepage-heading {
	font-family: $font__lato;
	@include fontSize(25px);
	font-weight: bold;
	line-height: 1.36;
}

%archive-content-type {
	font-family: $font__lato;
	@include fontSize(16px);
	font-weight: 300;
	line-height: 1.34;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

%footer-text {
	font-family: $font__ptsans;
	@include fontSize(16px);
	line-height: 1.34;
}

%single-title {
	font-family: $font__lato;
  @include fontSize(28px);
  line-height: 1.25;
  text-align: center;
  font-weight: 600;
  color: $primary-blue;

  @include breakpoint("medium") {
  	@include fontSize(40px);
    line-height: 1.2;
    font-weight: normal;
  }

  @include breakpoint("large") {
  	@include fontSize(50px);
    line-height: 1.2;
    font-weight: normal;
  }
}

%content-type {
	font-family: $font__lato;
	@include fontSize(16px);
	font-weight: bold;
	line-height: 1.9;
	letter-spacing: 1.1px;
	color: $primary-blue;

	@include breakpoint("medium") {
		line-height: 1.25;
	}
}

%post-meta {
	font-family: $font__ptsans;
	@include fontSize(14px);
	line-height: inherit;

	@include breakpoint("medium") {
		@include fontSize(16px);
		line-height: 1.34;
	}
}

%callout-header {
	font-family: $font__lato;
	@include fontSize(18px);
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 0.5rem 0;
}

%form-label {
	font-family: $font__lato;
	@include fontSize(14px);
	font-weight: bold;
	color: $black;
	text-transform: uppercase;
}

h1 { @extend %h1 }
h2 { @extend %h2 }
h3 { @extend %h3 }
h4 { @extend %h4 }
h5 { @extend %h5 }
h6 { @extend %h6 }

/*============================
=            Copy            =
============================*/

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 2rem 0;
}

b, strong {
	font-weight: 600;
}

dfn, cite, em, i {
	font-style: italic;
}

sub, sup {
	.overlay-isActive & {
		position: static;
	}
}

%blockquote-source {
	display: block;
	text-align: right;
	@include fontSize(14px);
	line-height: 2.07;
	letter-spacing: 0.4px;
	color: $dark-gray;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 0;
}

blockquote {
	margin: 2rem auto;
	padding: 0rem;

	@include breakpoint("medium") {
		width: 66%;
	}

	p {
		margin-bottom: 0;
	}

	cite {
		@extend %blockquote-source;
	}
}

blockquote, blockquote p {
	font-family: $font__lato;
	@include fontSize(20px);
	line-height: 1.5;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

address {
	margin: 0 0 1rem;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include fontSize(14px);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include fontSize(14px);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/*=============================
=            Links            =
=============================*/
a {
	color: $color__link;
	text-decoration: none;
	@include transition(all .3s ease-in-out);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		border: 0;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	.post-content & {
		@include box-shadow(0,-1px,0,0, $secondary-blue, true);

		&:vsited { @include box-shadow(0,-1px,0,0, $secondary-blue, true); }
		&:hover { box-shadow: none; }
	}
}