@use '../abstracts' as *;

.wp-block-lazyblock-career-opportunities {
    background-color: $color-bg-light-300;
    @include full-width-background($color-bg-light-300);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    @extend %text-style-paragraph-large;
    color: $color-black-190;

    li::marker {
        color: $color-black-100 !important;
    }

    .icon-suitcase {
        vertical-align: top;
    }

    h2 {
        margin-top: 0 !important;
    }
}