@use '../abstracts' as *;

.home {
  &__about {
    color: $color-white-100;
    background-color: $color-blue-000;
    @include full-width-background($color-blue-000);

    &::before{
      z-index: -1;
    }

    &::after {
        z-index: -1;
    }
        
    &-container {
      flex: auto;
      flex-direction: row;
    }

    &-item {
        caption {
            padding-bottom: rem(72);
            @extend %text-style-paragraph-medium-short;
            color: $color-white-165;
        }
    }

    &-item:first-of-type {
      padding: rem(40) 0;
    }

    &-title {
      @extend %text-style-heading-x-large-strong;
      padding-bottom: rem(12);
    }

    hr {
      width: rem(45);
      height: rem(4);
      margin: 0;
      margin-bottom: rem(16);
      background-color: $color-accent-secondary-yellow-100;
      border: none;
    }

    &-description {
      @extend %text-style-paragraph-large;
      @extend %text-style-short;
      padding-bottom: rem(24);
      color: $color-white-190;
    }

    &-directorblock {
      display: flex;
      flex: auto;
      flex-direction: row;

      &:first-of-type {
        padding-bottom: rem(24);
      }

      img {
        width: rem(100);
      }

      div {
        padding-left: rem(16);
        color: $color-white-165;
        @extend %text-style-label-small;

        h4 {
          padding-bottom: rem(4);
          color: $color-white-100;
          @extend %text-style-heading-large-strong-mobile;
        }
      }

    }

    &-familyphoto {
      width: calc(100% + 12vw);
      max-width: unset;
      margin-left: -6vw;
      padding-bottom: rem(8);
    }

  }
}
