@use '../abstracts' as *;
@use '../vendors/splide';

.splide {
  --offset-arrow-size: #{rem(22)};
  --offset-arrow-padding: #{rem(32)};
  --pagination-dot-size: #{rem(12)};
  --pagination-gap: #{rem(8)};
  --pagination-size: calc(var(--pagination-gap) + var(--pagination-dot-size));

  @include breakpoint('medium') {
    --offset-arrow-padding: #{rem(24)};
  }
}

.splide__pagination {
  @include z-index('splidePagination');
  gap: var(--pagination-gap);
  width: 100%;
  margin-top: rem(16);
  padding: 2px 0 0;

  @include breakpoint('large') {
    width: fit-content;
    margin: rem(24) calc(var(--offset-arrow-size) + var(--offset-arrow-padding)) 0;
  }

  &__page {
    width: var(--pagination-dot-size);
    height: var(--pagination-dot-size);
    background: $color-bg-dark-120;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    appearance: none;
  }

  &__page:hover,
  .is-active {
    background: $color-accent-primary-blue-200;
  }
}

.splide__arrows {
  position: absolute;
  bottom: rem(-5);
  left: 50%;
  @include z-index('splideArrows');
  display: flex;
  // Offset by the size of the padding between the arrows & the dots on both sides + the total size of the dots (number of dots * size) + the size of the gap between the dots (number of dots - 1 * size of the gap)
  gap: calc((var(--offset-arrow-padding) * 2) + (var(--pagination-dot-size) * var(--num-items)) + ((var(--pagination-gap) * (var(--num-items) - 1))));
  justify-content: space-between;
  transform: translate(-50%, 0);

  .splide__arrow {
    padding: 0;
    @include font-size(22px);
    line-height: 1;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not([disabled]) .icon {
      color: $color-accent-primary-blue-200;
    }
  }

  .icon {
    color: $color-bg-dark-100;
    transition: color 0.3s ease-in-out;
  }
}
