@use '../abstracts' as *;

.communication-block {
  h3,
  p {
    display: block;
    margin-top: rem(4);
  }

  h3 {
    color: $color-accent-secondary-yellow-100;
    @extend %text-style-label-medium;
  }

  /* stylelint-disable */
  h3.daily {
    margin-top: rem(24);
  }
  /* stylelint-enable */
}
