@use '../abstracts' as *;

.blog,
.tax-series {
  --page-header-bg: var(--page-header-analysis);
}

.post-type-archive-events {
  --page-header-bg: var(--page-header-events);
}

.post-type-archive-programs {
  --page-header-bg: var(--page-header-programs);
}

.post-type-archive-projects {
  --page-header-bg: var(--page-header-projects);
}

.post-type-archive-news {
  --page-header-bg: var(--page-header-npn);
}

.post-type-archive-updates {
  --page-header-bg: var(--page-header-updates);
}

.single-programs {
  --page-header-bg: var(--page-header-programs);
}

.search,
.category,
.tag {
  --page-header-bg: var(--page-header-general);
}

.entry-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  margin: 0 auto rem(24);
  padding: rem(24) 0 rem(48);

  @include breakpoint('small') {
    margin-bottom: rem(40);
  }

  @include breakpoint('large') {
    margin-bottom: rem(64);
  }

  @include breakpoint('xlarge') {
    margin-bottom: rem(80);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @include z-index(postBG);
    display: block;
    @include csis-block-full-width-wrapper();
    // background: linear-gradient(180deg, #1e2429 2.5%, transparent 100%), url('../../img/geo_bg.png'), linear-gradient(180deg, #1e2429 0%, rgba(26, 36, 40, 0.88) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--blue {
    &::before {
      background: var(--page-header-bg);
      background-position: center;
    }
  }

  &__title {
    @extend %text-style-heading-3-x-large-strong;
    color: $color-white-190;

    &:not(:only-child) {
      margin-bottom: rem(12);
    }

    &--yellow {
      color: $color-accent-secondary-yellow-100;
    }

    &-secondary {
      color: $color-white-100;
    }

    &-label {
      @extend %text-style-heading-large-strong;
      display: block;
      margin-bottom: rem(4);
      color: $color-accent-secondary-yellow-100;
    }
  }

  &__desc {
    @extend %text-style-paragraph-x-large;
    color: $color-white-190;
  }
}
