@use '../abstracts' as *;
@use '../vendors/splide';

.home__projects {
  --image-height: 340px;
  --link-color: #{$color-black-180};
  --projects-padding: var(--container-padding);
  padding: rem(24) 0 rem(64);
  @include csis-block-full-width-wrapper;
  background: $color-bg-light-400;

  @include breakpoint('large') {
    --projects-padding: #{rem(40)};
    width: 100%;
    margin: 0;
    padding-bottom: rem(40);
  }

  &-header {
    margin-bottom: rem(20);
    padding: 0 var(--projects-padding);

    @include breakpoint('small') {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .home__subtitle {
    --home-subtitle-border: #{$color-accent-primary-blue-300};

    &::after {
      margin-top: rem(12);
      margin-bottom: rem(12);

      @include breakpoint('small') {
        margin-bottom: 0;
      }
    }
  }

  &-item {
    > *:not(.home__projects-img) {
      padding: 0 var(--projects-padding);
    }
  }

  &-img {
    display: block;
    margin-bottom: rem(20);

    img {
      width: 100%;
      max-height: var(--image-height);
      object-fit: cover;
      object-position: center center;

      @include breakpoint('medium') {
        height: var(--image-height);
        max-height: unset;
      }
    }
  }

  &-title {
    margin-bottom: rem(8);
    color: $color-black-100;
    @extend %text-style-heading-large-strong;
  }

  .post-block__excerpt {
    margin-bottom: 0 !important;
    @extend %text-style-paragraph-large;
    @extend %text-style-short;
    color: $color-black-180;
  }

  // Splide
  .splide__pagination {
    @include breakpoint('medium') {
      position: absolute;
      top: calc(var(--image-height) + #{rem(20)});
      right: calc(var(--offset-arrow-size) + var(--offset-arrow-padding) + var(--projects-padding));
      justify-content: flex-end;
      margin: 0;
    }
  }

  .splide__arrows {
    @include breakpoint('medium') {
      top: calc(var(--image-height) + #{rem(20)});
      right: var(--projects-padding);
      bottom: unset;
      left: unset;
      transform: none;
    }
  }
}

.splide {
  --offset-arrow-size: #{rem(22)};
  --offset-arrow-padding: #{rem(32)};
  --pagination-dot-size: #{rem(12)};
  --pagination-gap: #{rem(8)};
  --pagination-size: calc(var(--pagination-gap) + var(--pagination-dot-size));

  @include breakpoint('medium') {
    --offset-arrow-padding: #{rem(24)};
  }
}

.splide__pagination {
  @include z-index('splidePagination');
  gap: var(--pagination-gap);
  width: 100%;
  margin-top: rem(20);
  padding: 2px 0 0;

  @include breakpoint('large') {
    width: fit-content;
    margin: rem(20) calc(var(--offset-arrow-size) + var(--offset-arrow-padding)) 0;
  }

  &__page {
    width: var(--pagination-dot-size);
    height: var(--pagination-dot-size);
    background: $color-bg-dark-120;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    appearance: none;
  }

  &__page:hover,
  .is-active {
    background: $color-accent-primary-blue-200;
  }
}

.splide__arrows {
  position: absolute;
  bottom: rem(-5);
  left: 50%;
  @include z-index('splideArrows');
  display: flex;
  // Offset by the size of the padding between the arrows & the dots on both sides + the total size of the dots (number of dots * size) + the size of the gap between the dots (number of dots - 1 * size of the gap)
  gap: calc((var(--offset-arrow-padding) * 2) + (var(--pagination-dot-size) * var(--num-items)) + ((var(--pagination-gap) * (var(--num-items) - 1))));
  justify-content: space-between;
  transform: translate(-50%, 0);

  .splide__arrow {
    padding: 0;
    @include font-size(22px);
    line-height: 1;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not([disabled]) .icon {
      color: $color-accent-primary-blue-200;
    }
  }

  .icon {
    color: $color-bg-dark-100;
    transition: color 0.3s ease-in-out;
  }
}
