@use '../abstracts' as *;

// Program Updates & Next Gen Highlights
.home__pungh {
  // container

  .home__archive-link {
    --link-hover-color: #{$color-black-100};
    white-space: nowrap;

    &:focus {
      color: $color-black-100;
      background-color: $color-bg-light-300;
    }
  }

  &-list {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;

    li + li {
      margin-top: rem(32);
    }
  }

  &-title {
    @extend %text-style-heading-large-strong;
    margin-bottom: rem(12);
    color: $color-accent-primary-blue-200;

    a {
      &:hover {
        color: $color-black-100;
      }

      &:focus {
        color: $color-black-100;
        background-color: $color-bg-light-300;
      }
    }
  }

  .post-block__excerpt {
    margin-bottom: 0;
    @extend %text-style-paragraph-large;
    @extend %text-style-short;
  }
}
