@use '../abstracts' as *;

// Program Updates & Next Gen Highlights
.home__pungh {
  // container

  .home__archive-link {
    --link-hover-color: #{$color-black-100};
    white-space: nowrap;

    &:focus {
      color: $color-black-100;
      background-color: $color-bg-light-300;
    }
  }

  &-list {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;

    li + li {
      margin-top: rem(32);
    }
  }

  &-title {
    @extend %text-style-heading-large-strong;
    margin-bottom: rem(12);
    color: $color-accent-primary-blue-200;

    a {
      &:hover {
        color: $color-black-100;
      }

      &:focus {
        color: $color-black-100;
        background-color: $color-bg-light-300;
      }
    }
  }

  .post-block__excerpt {
    margin-bottom: 0;
    @extend %text-style-paragraph-large;
    @extend %text-style-short;
  }
}

.home__ngh {
  .home__subtitle {
    margin-bottom: rem(16);
  }

  &-img {
    --img-size: 100px;
    display: block;
    float: right;
    max-width: var(--img-size);
    margin-bottom: rem(12);
    margin-left: rem(12);

    @include breakpoint('small') {
      --img-size: 25vw;
    }

    @include breakpoint('medium') {
      --img-size: 15vw;
    }

    @include breakpoint('large') {
      --img-size: 180px;
      float: left;
      margin-right: rem(32);
      margin-left: 0;
    }

    img {
      max-width: var(--img-size);
    }
  }

  &-title {
    margin-bottom: rem(8);
  }

  .post-block__excerpt {
    color: $color-black-180;
  }
}
