@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease-in-out;

  a {
    display: flex !important;
    align-items: center;

    &:first-of-type {
      margin-left: -4px;
    }

    &:hover {
      img {
        --icon-fill: var(--icon-fill-hover);
        opacity: 0.9 !important;
      }
    }

    &:focus {
      background: $color-bg-light-300;
    }

    img {
      filter: var(--icon-fill);
    }
  }

  /* stylelint-disable */
  .a2a_button_facebook {
    position: relative;
    top: -2px;
  }

  .a2a_button_linkedin {
    position: relative;
    top: -2px;
  }

  /* stylelint-enable */
  .single__footer &,
  .single__content & {
    --icon-fill: invert(13%) sepia(100%) saturate(2787%) hue-rotate(189deg) brightness(98%) contrast(101%);

    --icon-fill-hover: invert(14%) sepia(10%) saturate(7274%) hue-rotate(181deg) brightness(95%) contrast(87%) #{$shadow--1};

    &::before {
      content: 'Share';
      margin-right: rem(12);
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0.8;
      filter: invert(39%) sepia(98%) saturate(353%) hue-rotate(167deg) brightness(86%) contrast(90%);
      @extend %text-style-label-small;
    }
  }
}
