/*===========================
=            404            =
===========================*/

.error-404 {
    margin-top: 4rem;

    .page-title { text-align: center; }

    .img404 {
        display: block;
        width: auto;
        height: auto;
        max-height: 600px;
        margin: 0 auto;
    }

    .post-content {
        @include breakpoint("medium") {
            padding-right: 3rem;
        }
    }

    p {
        @include fontSize(24px);
        line-height: 1.33;
    }
    
    ul {
        list-style: none;
        margin-top: 0.5rem;
        padding: 0;

        @include breakpoint("medium") {
            margin-top: 1rem;
            padding-left: 40px;
        }
    }

    li {
        margin-bottom: 0;

        a {
            @include fontSize(16px);
            font-style: italic;
            line-height: 2.03;
        }
    }

    .section-header {
        text-transform: uppercase;
        margin: 0 0 1rem;
        @include fontSize(25px);
    }

    .related-post {
        margin-bottom: 1rem;
        .entry-title {
            font-weight: bold;
            font-family: $font__ptsans;
            @include fontSize(20px);
            line-height: 1.2;
            margin: 0;

            a {
                color: $black;

                &:hover {
                    color: $secondary-blue;
                }
            }
        }

        .authors-list { margin: 0; }
        .authors-list .entry-author {
            display: inline;

            a { @include fontSize(16px); line-height: 1.34; }
            .author-title { display: none; }
        }

        .posted-on { margin: 0; }
        .posted-on .meta-label {
            display: inline;

            @include breakpoint("medium") {
                padding-right: 5px;
            }
        }

        .posted-on .meta-label:not(:first-of-type),
        .posted-on time:not(:first-of-type) { display: none; }

        &:last-of-type {
            border-top: 1px solid $gray;
            padding-top: 1rem;
        }
    }
}