/*==============================
=            Alumni            =
==============================*/

.archive .alumni,
.search .alumni,
.single-alumni .post-thumbnail {
	img {
		display: block;
        border-radius: 50%;
        margin: 1rem auto;
	}
}
