/*================================
=            Archives            =
================================*/

.blog,
.archive,
.search {
	background-color: $off-white;

	.archive-container {
		padding: 0;
		@include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.19));

		@include breakpoint("medium") {
			padding: 0;
		}
	}

	.page-header {
		position: relative;
		background-color: $black;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(7, 47, 85, 0.47);
		}

		.header-content {
			position: relative;
			z-index: 1;
			margin: 0 auto;
			padding: 2rem 1rem;

			@include breakpoint("medium") {
				width: 47rem;
				padding: 5rem 0 2rem 0;
			}
		}

		.page-title {
			font-family: $font__lato;
			@include fontSize(30px);
			line-height: 1.15;
			font-weight: bold;
			color: $yellow;
			text-transform: uppercase;
			margin: 0.5rem 0 1rem 0;
			text-align: center;

			@include breakpoint("medium") {
				@include fontSize(60px);
				text-align: left;
				margin: 0 0 0.5rem 0;
			}
		}

		.archive-category p {
			font-family: $font__lato;
			@include fontSize(20px);
			font-weight: bold;
			line-height: 2;
			text-transform: uppercase;
			color: $off-white;
			margin: 0;
			text-align: center;

			@include breakpoint("medium") {
				@include fontSize(30px);
				text-align: left;

				&::after {
					content: " \2014";
				}
			}
		}

		.archive-description,
		.archive-description p {
			@include fontSize(16px);
			line-height: 1.5;
			font-style: italic;
			color: $white;
			margin-bottom: 0;
			text-align: center;

			@include breakpoint("medium") {
				@include fontSize(20px);
				text-align: left;
			}
		}
	}

	.archive-search-container {
		position: relative;
		z-index: 5;
		background-color: $off-white;
		padding: 1rem 1rem 0rem 1rem;

		@include breakpoint("medium") {
			background-color: transparent;
			padding: 0;
		}
	}

	.searchandfilter {
		position: relative;
		bottom: -2px;
		background-color: $yellow;

		@include breakpoint("medium") {
			height: 4.4rem;
		}

		& > ul {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;

			@include breakpoint("medium") {
				display: inline-flex;
				height: calc(4.4rem - 1rem);
				align-items: flex-end;
				margin: 1rem 0 0 0;
			}

			& > li {
				width: 100%;
				overflow-x: hidden;
				padding: 0.5rem 1rem;
				border-bottom: 1px solid $off-white;

				@include breakpoint("medium") {
					border-bottom: 0;
					border-right: 1px solid $dark-yellow;
					width: 20%;
					padding: 0 1rem;
				}

				&:last-child {
					border-bottom: 0;
					background-color: $off-white;
					text-align: right;
					padding-bottom: 0;

					@include breakpoint("medium") {
						border-right: 0;
						background-color: transparent;
						text-align: left;
					}
				}

				&.sf-field-post-meta-_post_is_nextgen,
				&.sf-field-reset {
					padding-top: calc(52px - 2.5rem);
				}
			}
		}

		& ul li ul {
			padding: 0;
			margin: 0;
		}

		& li[data-sf-field-input-type=checkbox] label,
		& li[data-sf-field-input-type=radio] label,
		& li[data-sf-field-input-type=range-radio] label,
		& li[data-sf-field-input-type=range-checkbox] label {
			@extend .body-small;
			display: inline;
			padding-left: 18px;
		}

		h4 {
			@extend %form-label;
			margin: 0;
			padding: 0 0 5px 0;
		}

		label {
			position: relative;
			width: 100%;
			overflow-x: hidden;
			line-height: 1;

			&:not(.sf-label-checkbox)::after {
				content: "+";
                text-align: right;
                pointer-events: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 30%;
                background: rgba(97, 27, 21, 1);
                background: -moz-linear-gradient(left, rgba(242, 194, 97, 0) 0%, $yellow 65%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 194, 97, 0)), color-stop(65%, $yellow));
                background: -webkit-linear-gradient(left, rgba(242, 194, 97, 0) 0%, $yellow 65%);
                background: -o-linear-gradient(left, rgba(242, 194, 97, 0) 0%, $yellow 65%);
                background: -ms-linear-gradient(left, rgba(242, 194, 97, 0) 0%, $yellow 65%);
                background: linear-gradient(to right, rgba(242, 194, 97, 0) 0%, $yellow 65%);
			}
		}

		.sf-field-search {
			label::after { content: none; }

			input[type="text"] {
				margin: 0;
				background-color: transparent;
				border-radius: 0;
				border: 0;
				border-bottom: 1px solid $dark-yellow;
				padding: 0;
				color: $black;

				@include placeholder {
		            color: $dark-yellow;
		            font-style: italic;
		        }
			}
		}

		select.sf-input-select {
			min-width: unset;
			@include fontSize(16px);
			line-height: 1;
			border-color: transparent;
			background-color: transparent;
			display: inline-block;
		    -webkit-appearance: button;
		    white-space: nowrap;
		    width: 100%;
		    max-width: 500px;
		}

		input[type="submit"] {
			@extend .body-small;
			font-style: italic;
			background-color: transparent;
			padding: 0;
			margin: 0 0 0.5rem 0;
		}

		.sf-input-checkbox {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		.sf-label-checkbox {
			position: relative;

			&::before {
				content: "";
				position: absolute;
			    top: 2px;
			    left: 0;
			    height: 12px;
			    width: 12px;
			    border: 2px solid $black;
			    background: transparent;
			}
		}

		.sf-input-checkbox:checked ~ .sf-label-checkbox {

			&::before {
			    background: $black;
			}
		}
	}

	.archive-content {
		background-color: $white;
		padding: 1rem;

		@include breakpoint("medium") {
			padding: 1rem 3rem 3rem 1rem;
		}

		.view-past {
			text-align: center;

			a { color: $white; }
		}
	}

	.archive-sidebar {
		background-color: $color__background-archive-sidebar;
		padding: 2rem 1rem 0 2rem;

		@include breakpoint("medium") {
			padding: 4rem 1rem 3rem 2rem;
		}
	}

	.site-footer { margin-top: 0; }
}