/*================================
=            Archives            =
================================*/

.blog,
.archive {
	background-color: $off-white;

	.archive-container {
		@include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.19));
	}

	.page-header {
		position: relative;
		background-color: $black;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(7, 47, 85, 0.47);
		}

		.header-content {
			position: relative;
			z-index: 1;
			width: 47rem;
			margin: 0 auto;
			padding: 5rem 0 2rem 0;
		}

		.page-title {
			font-family: $font__lato;
			@include fontSize(60px);
			font-weight: bold;
			line-height: 1.15;
			color: $yellow;
			text-transform: uppercase;
			margin: 0;
		}
	}

	.searchandfilter {
		position: relative;
		bottom: -2px;
		background-color: $yellow;
		height: 4.4rem;

		& > ul {
			display: flex;
			width: 100%;
			margin: 0;
			padding: 0;

			& > li {
				width: 20%;
				overflow-x: hidden;
				// margin-top: 0.5rem;
				padding: 0 1rem;
				border-right: 1px solid $dark-yellow;

				&:last-child {
					border-right: 0;
				}
			}
		}

		& ul li ul {
			padding: 0;
			margin: 0;
		}

		& li[data-sf-field-input-type=checkbox] label,
		& li[data-sf-field-input-type=radio] label,
		& li[data-sf-field-input-type=range-radio] label,
		& li[data-sf-field-input-type=range-checkbox] label {
			@extend .body-small;
			display: inline;
		}

		h4 {
			@extend %form-label;
			margin: 0;
		}

		select.sf-input-select {
			min-width: unset;
		}

		input[type="submit"] {
			@extend .body-small;
			font-style: italic;
			background-color: transparent;
			padding: 0;
			margin: 0;
		}
	}

	.archive-content {
		background-color: $white;
		padding: 1rem 3rem 3rem 1rem;
	}

	.archive-sidebar {
		background-color: $color__background-archive-sidebar;
		padding: 4rem 1rem 3rem 2rem;
	}

	.site-footer { margin-top: 0; }
}