/*================================
=            Archives            =
================================*/

.blog {
	background-color: $off-white;

	.archive-container {
		@include box-shadow(0, 2px, 12px, 0, rgba(0, 0, 0, 0.19));
	}

	.page-header {
		background-color: $black;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.header-content {
			width: 47rem;
			margin: 0 auto;
			padding: 5rem 0 2rem 0;
		}
	}

	.searchandfilter {
		position: relative;
		bottom: -2px;
		background-color: $yellow;
		height: 4.4rem;

		ul {
			width: 100%;
			margin: 0;
			padding: 0;
		}
	}

	.archive-content {
		background-color: $white;
		padding-bottom: 3rem;
	}

	.archive-sidebar {
		background-color: $color__background-archive-sidebar;
		padding: 4rem 1rem 3rem 2rem;
	}

	.site-footer { margin-top: 0; }
}