/*=================================
=            Home Page            =
=================================*/

.home {
    background-color: $off-white;

    .site-main {
        padding: 0;
        position: relative;

        @include breakpoint("medium") {
            padding: 0 1rem;
            margin-top: 3rem;
        }

        .section-header {
            text-transform: uppercase;
            margin: 0 0 1rem 0;
        }
    }

    .row-section {
        position: relative;
        margin-bottom: 1rem;
    }

    .hp-block {

        @include breakpoint("medium") {
            height: $size__homepage-block-height;
        }
    }

    .hp-block-2x {
        @include breakpoint("medium") {
            height: $size__homepage-block-height-2x;
        }

        .section-header {
            text-align: center;
        }
    }

    .hp-block,
    .hp-block-2x {
        padding: 1.5rem 1rem;

        @include breakpoint("medium") {
            padding: 1.5rem;
        }

        .section-header {
            color: $white;
        }
    }

    .site-content {
        @include breakpoint("medium") {
            margin-top: 0px;
        }
    }

    .split-main {
        color: $white;

        @include breakpoint("medium") {
            float: left;
            width: 50%;
        }

        .entry-title {
            margin: 0 0 1rem 0;
        }

        .entry-title a {
            color: $white;
            box-shadow: none;
            @include fontSize(26px);
            font-weight: bold;
            letter-spacing: 1.6px;
            text-transform: uppercase;
        }

        p {
            font-style: italic;
            line-height: 1.3;
            color: $light-blue;
            font-size: 1rem;

            @include breakpoint("medium") {
                color: $off-white;
                line-height: 1.19;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            @include breakpoint("medium") {
                display: none;
            }
        }

        li {
            margin: 0.5rem 0;
            line-height: 1.3;

            &::after {
                content: "\f3d3";
                font-family: 'poni';
                @include fontSize(16px);
                color: $yellow;
                margin-left: 5px;
            }

            a {
                color: $white;
                font-family: $font__lato;
                letter-spacing: 0.2px;
                box-shadow: none;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .split-featured {
        position: relative;
        display: flex;
        width: 100%;
        min-height: $size__homepage-block-height-mobile;
        padding: 0;

        @include breakpoint("medium") {
            display: block;
            margin-left: 50%;
            width: 50%;
            height: 100%;
        }
    }

    .split-featured-img {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include breakpoint("medium") {
            width: 100%;
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $primary-blue;
                opacity: 0.65;
                @include transition(opacity 0.3s);
            }
        }
    }

    .split-featured-content {
        width: 50%;
        color: $white;
        padding: 1rem;

        @include breakpoint("medium") {
            display: none;
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            padding: 1.5rem;
        }

        .subsection-header {
            color: $white;
            line-height: 1.34;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            margin: 0 0 0.5rem 0;

            @include breakpoint("medium") {
                margin: 0 0 1rem 0;
            }
        }

        .post-title {
            display: block;
            font-family: $font__lato;
            @include fontSize(16px);
            color: $white;
            box-shadow: none;
            margin-bottom: 0rem;

            @include breakpoint("medium") {
                @include fontSize(20px);
            }

            &:hover {
                color: $yellow;
            }
        }

        .post-date {
            @include fontSize(14px);
            font-style: italic;
            line-height: 1.53;
            color: $light-blue;

            @include breakpoint("medium") {
                @include fontSize(16px);
                line-height: 1.34;
            }
        }
    }

    .combo-block:hover {
        p {
            display: none;
        }
        ul {
            display: block;
        }
        .split-featured-img::before {
            opacity: 0.85;
        }
        .split-featured-content {
            display: block;
        }
    }

    $blocks: (dark: $dark-blue, primary: $primary-blue, secondary: $secondary-blue);

    @each $block,
    $color in $blocks {
        .block-#{$block} {
            background-color: $color;

            &~.split-featured .split-featured-content {
                background-color: $color;
                opacity: .85;

                @include breakpoint("medium") {
                    background-color: transparent;
                    opacity: 1;
                }
            }
        }
    }

    .img-block {
        height: $size__homepage-block-height-mobile;
        background-color: transparent;
        background-clip: content-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include breakpoint("medium") {
            height: $size__homepage-block-height;
        }
    }

    .shape1 {
        display: none;
        @include breakpoint("medium") {
            display: block;
            background-color: transparent;
            position: absolute;
            right: 0.5rem;
            width: calc(50% - 1rem);
            height: $size__homepage-block-height-2x;
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            .cutout {
                position: absolute;
                bottom: 0;
                width: calc(50% + 0.5rem);
                height: 16rem;
                background-color: $off-white;
            }
        }
    }

    .shape2 {
        display: none;
        @include breakpoint("medium") {
            display: block;
            background-color: transparent;
            position: absolute;
            left: 0.5rem;
            width: calc(25% - 1rem);
            height: $size__homepage-block-height-2x;
            z-index: -1;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .shape3 {
        display: none;
        @include breakpoint("medium") {
            display: block;
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0.5rem;
            width: calc(75% - 1rem);
            height: $size__homepage-block-height-2x;
            z-index: -1;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            .cutout {
                position: absolute;
                right: 0;
                bottom: 0;
                width: calc(100% / 3 * 2 + 0.75rem);
                height: calc(31rem / 2 + 0.75rem);
                background-color: $off-white;
            }
        }
    } // Tagline
    .tagline {
        font-family: $font__lato;
        font-weight: 300;
        margin: 0.5rem;

        @include breakpoint("medium") {
            @include fontSize(26px);
            margin: 0 0 1rem 0;
        }
    } // Featured Alumni
    .alumni-featured {
        img {
            display: block;
            border-radius: 50%;
            margin: 1rem auto;
        }

        .alumni-name {
            font-family: $font__lato;
            @include fontSize(20px);
            line-height: 1.07;
            font-weight: 600;
            color: $white;

            @include breakpoint("medium") {
                text-align: center;
            }
        }

        p {
            line-height: 1.36;
            color: $white;
            margin-bottom: 0.2rem;
        }

        .alumni-readmore {
            @include fontSize(14px);
            font-style: italic;
            line-height: 1.53;
            color: $light-blue;
            box-shadow: none;

            @include breakpoint("medium") {
                @include fontSize(16px);
                line-height: 1.34;
            }

            &:hover {
                color: $white;
            }
        }
    } // Categories List
    .hp-categories {
        margin-top: 1rem;

        @include breakpoint("medium") {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            @include breakpoint("medium") {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
            }

            li {
                line-height: 1.3;
            }
        }

        a {
            font-family: $font__lato;
            @include fontSize(18px);
            font-weight: normal;
            line-height: 1.17;
            color: $white;
            box-shadow: none;
            font-size: 1rem;

            &:hover {
                color: $yellow;
            }
        }
    } // About this Project
    .about-info {
        margin-top: 3rem;
        padding: 0 1rem;

        @include breakpoint("medium") {
            margin-top: 2rem;
            padding: 0;
        }

        .section-header {
            @include fontSize(25px);
        }

        .subsection-header {
            margin: 1.5rem 0 0.5rem 0;
            font-family: $font__lato;
            @include fontSize(20px);
            line-height: 1.07;
            font-weight: 600;
        }

        p {
            @include fontSize(18px);
            line-height: 1.78;
        }

        ul {
            list-style: none;
            margin-top: 0.5rem;
            padding: 0;

            @include breakpoint("medium") {
                margin-top: 2.75rem;
                padding-left: 40px;
            }
        }

        li {
            margin-bottom: 0;

            a {
                @include fontSize(16px);
                font-style: italic;
                line-height: 2.03;
            }
        }
    } // Logo
    .home-logo-container {
        position: relative;
        background-color: $dark-blue;
        padding: 2rem 0;
        @include box-shadow( 0, 2px, 10px, 0, rgba($black, 0.5));

        @include breakpoint("medium") {
            background: url("img/home-header.jpg") no-repeat fixed center;
            background-size: cover;
            padding: 0 0 0 0;
            
        }

        .content-wrapper {
            @include breakpoint("medium") {
                padding-left: 2rem;
            }
        }

        img {
            display: none;

            @include breakpoint("medium") {
                display: block;
                position: relative;
                z-index: 1;
                width: auto;
                margin: 1rem auto;
                height: 100%;
                max-height: 150px; //margin-top: -70px;
            }
        }

        span {
            display: block;
            font-family: $font__ptsans;
            @include fontSize(36px);
            line-height: 1.1;
            letter-spacing: 0.5px;
            color: $white;
            text-align: center;
            text-transform: uppercase;

            @include breakpoint("medium") {
                display: none;
            }
        }

        span:nth-of-type(2) {
            font-weight: bold;
        }

        span:nth-of-type(3) {
            @include fontSize(16px);
            font-style: italic;
            line-height: 1.78;
            text-transform: none;
            color: $gray;

            @include breakpoint("medium") {
                display: block;
                margin-left: 5.5rem;
                margin-top: -0.5rem;
                text-align: center;
            }
        }
    }

    h4.section-header {
        font-weight: 300;
    }



    .home-logo-container {
        @include breakpoint("medium") {
            height: calc(90px + 20rem); //overflow: hidden;
            transition: all .6s ease-in-out 0s;
            padding-top: calc(90px + 3rem);
            bottom: 0px;
            overflow: hidden;
        }

        .logo-home {
            @include breakpoint("medium") {
                bottom: 0px;
                transition: all .5s ease-in-out .3s;
            }
        }
    }

    .header-logo.col-md-4 {
        @include breakpoint("medium") {
            max-width: 0px;
            height: 90px;
            padding: 0rem;
            @include box-shadow( 0,
            0,
            0,
            0,
            rgba($black, 0));
            transition: all .5s ease-in 0s, height .5s ease-in-out .4s;
        }

        .logo-container {
            @include breakpoint("medium") {
                display: none;
            }
        }

        .sm-logo-container {
            @include breakpoint("medium") {
                overflow: hidden;
            }
        }
        .logo-small {
            @include breakpoint("medium") {
                bottom: -100px;
                display: block;
                position: relative;
                opacity: 1;
                transition: all .5s ease-in-out 0s;
            }
        }
    }

    .is-minimal {
        .home-logo-container {
            @include breakpoint("medium") {
                height: 0px;
                bottom: 200px;
            }
            .logo-home {
                @include breakpoint("medium") {
                    bottom: 200px;
                }
            }
        }
        &.header-logo.col-md-4 {
            @include breakpoint("medium") {
                max-width: 90px;
                height: 60px;
                transition: all .5s ease-in 0s, height .4s ease-in 0s;

            }

            .logo-small {
                @include breakpoint("medium") {
                    display: block;
                    bottom: 0px;
                    transition: all .5s ease-in-out .2s;
                }
            }
        }
    }

    .is-large {
        .logo-small {
            @include breakpoint("medium") {
                bottom: -100px;
                display: block;
                position: relative;
                opacity: 1;
                transition: all .5s ease-in-out 0s;
            }
        }
    }
}