/*====================================
=            Opportunities           =
====================================*/

.archive .opportunities {
	.poni-sponsored {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.post-location { margin-top: 1rem; }

	.post-location,
	.post-opportunity-deadline {
		margin-bottom: 0rem;
		line-height: 1.5rem;

		.meta-label {
			display: inline;
		}
	}

	.entry-content {
		margin-top: 1rem;
	}
}
