/*=============================
=            Posts            =
=============================*/

.single-post {
  .entry-header {
    background-color: $off-white;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}