/*=============================
=            Posts            =
=============================*/

.single {
  .hentry:not(.footer-simple) .entry-content {
    margin-bottom: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $gray;
  }
}

.single-post {
  // Sources
  .sources-label {
    font-family: $font__lato;
    @include fontSize(18px);
    font-weight: bold;
    color: $primary-blue;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    cursor: pointer;

    &::after {
      content: "\002B";
      margin-left: 0.2rem;
    }

    &.is-active::after {
      content: "\2014";
    }
  }

  .sources {
    display: none;
    @include fontSize(16px);
    line-height: 1.5;

    &.is-active { display: block; }
  }

  // Post Authors/Disclaimer Block
  .post-about-authors {
    padding-right: 0.5rem;

    @include breakpoint("medium") {
      padding-right: 2rem;
    }
  }

  // Site Footer
  .site-footer { margin-top: 0; }
}

// Card Format for archives & search results.
.article-card {
  margin: 1.5rem 0 0 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid $gray;

  @include breakpoint("medium") {
    margin: 1.5rem 0 0 2rem !important;
    padding-bottom: 3rem;
  }

  &:last-of-type { border-bottom: 0;}

  .entry-header {
    position: relative;
  }

  .post-thumbnail {
    margin-bottom: -2.5rem;

    @include breakpoint("medium") {
      padding-right: 1.5rem;
    }
  }

  .post-format {
    position: relative;
    display: inline-block;
    background-color: $white;
    padding: 1rem;

    @include breakpoint("medium") {
      display: block;
      margin-bottom: 0.5rem;
      background-color: transparent;
      width: 100%;
      padding: 0;
    }
  }

  .entry-title {
    @extend %h4;
    margin: 0 1rem 1rem 1rem;
    font-weight: 400;

    @include breakpoint("medium") {
      margin: 0 0 1rem 0;
    }

    a {
      color: $black;
      box-shadow: none;

      &:hover { color: $secondary-blue; }
    }
  }

  .entry-meta {
    margin-bottom: 1rem;
    padding: 0 1rem;

    @include breakpoint("medium") {
      padding: 0;
    }
  }

  .entry-content {
    padding: 0 1rem;

    @include breakpoint("medium") {
      padding: 0;
    }

    p {
      @extend .body-small;
      margin-bottom: 0;
    }
  }

  // Featured Posts
  &.featured {

    .entry-header {
      @include breakpoint("medium") {
        padding-top: 1.75rem;
      }
    }

    .post-format {
      @include breakpoint("medium") {
        position: absolute;
        top: 0;
        height: 1.75rem;
      }
    }

    .post-header {
      @include breakpoint("medium") {
        position: relative;
        z-index: 10;
        float: left;
        width: 50%;
        margin-right: -2rem;
        padding: 0;
      }
    }

    .title-container {
      margin-bottom: 1rem;

      @include breakpoint("medium") {
        width: 135%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .entry-title {
      position: relative;
      z-index: 3;
      padding: 0 0 0.2rem 0;
      @include fontSize(20px);
      line-height: 1.35;
      font-weight: bold;

      @include breakpoint("medium") {
        @include fontSize(30px);
        line-height: 1.1;
        background-color: $white;
        border-right: .5rem solid $white;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        display: inline;
      }
    }

    .post-thumbnail {
      @include breakpoint("medium") {
        float: right;
        width: 50%;
        margin-bottom: 0.5rem;
      }

      img {
        @include breakpoint("medium") {
          margin-left: 1rem;
        }
      }
    }

    .entry-meta {
      clear: left;
    }
  }
}

/*----------  Callout ----------*/
.callout-header {
  @extend %callout-header;
}

.callout-container {
  background-color: $off-white;
  width: 100%;
  margin: 2rem auto;
  text-align: center;

  @include breakpoint("medium") {
    width: 55%;
  }

  a {
    display: block;
    padding: 1rem;
    box-shadow: none;

    &:hover {
      i { color: $dark-blue; }
      .callout-header { box-shadow: none; }
    }
  }

  i {
    @include fontSize(25px);
    color: $secondary-blue;
  }

  .callout-header {
    display: inline; 
    @include box-shadow(0,-1px,0,0, $secondary-blue, true);
  }

  p {
    @extend %post-meta;
    font-style: italic;
    color: $dark-gray;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }
}

/*----------  Disclaimer  ----------*/
.post-disclaimer {
  font-family: $font__ptsans;
  @include fontSize(14px);
  line-height: 1.43;
  color: $dark-gray;
  margin-bottom: 1.5rem;
}

/*----------  Write for Us  ----------*/
.post-write {
  i { 
    @include fontSize(48px);
    color: $yellow;
    display: block;
    float: left;
    min-height: 6rem; 
    margin-right: 0.5rem;

    @include breakpoint("medium") {
      @include fontSize(21px);
      display: inline;
      float: none;
      min-height: unset;
      margin-right: 0;
    }
  }

  p {
    @extend .body-small;
    margin-bottom: 0;
  }

}
