button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn
{
	background-color: $color__background-button-blue;
	font-family: $font__lato;
	@include fontSize(16px);
	line-height: 1;
	letter-spacing: 1px;
	padding: 0.4rem 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	color: $white;
	box-shadow: none !important;

	&:hover { background-color: $color__background-button-blue-hover; }
}

.btn {
	&.btn-blue {
		background-color: $color__background-button-blue;

		&:hover {
			background-color: $color__background-button-blue-hover;
		}
	}

	&.btn-yellow {
		background-color: $color__background-button-yellow;

		&:hover { background-color: $color__background-button-yellow-hover; }
	}

	&.btn-transparent {
		background-color: transparent;
		margin: 0;

		&:hover { background-color: transparent; }
	}
}