/*================================
=            Calendar            =
================================*/

.calendar-container {
	display: none;

	@include breakpoint("small") {
		display: block;
		width: 4rem;
		text-align: center;
		font-family: $font__lato;
		font-weight: bold;
		line-height: 1.35;

		a {
			color: $white;
		}

		.month {
			height: 1.5rem;
			background-color: $secondary-blue;
			@include fontSize(18px);
			text-transform: uppercase;
		}

		.day {
			height: 3rem;
			background-color: $dark-blue;
			@include fontSize(36px);
		}
	}

	.past & .month {
		background-color: $gray;
	}
	.past & .day {
		background-color: $dark-gray;
	}
}
