/*==================================
=            Pagination            =
==================================*/

.pagination-totals {
	font-family: $font__lato;
	@include fontSize(16px);
	line-height: 1.34;
	font-weight: 300;

	span { color: $secondary-blue; }
}

.pagination {
	text-align: center;
	margin: 4rem 0 3rem;

	span, a {
		margin: 0 0.2rem;
		background-color: $off-white;
		padding: 4px 10px;
		font-family: $font__lato;
		@include fontSize(16px);
		line-height: 1.34;
		box-shadow: none;

		@include breakpoint("medium") {
			margin: 0 0.25rem;
		}
	}

	.dots {
		background-color: transparent !important;
		padding: 4px 5px;
	}

	a {
		color: $black;

		&:hover {
			background-color: $secondary-blue;
			color: $white;
		}
	}

	.current {
		background-color: $primary-blue;
		color: $white;
	}

	.next,
	.prev {
		position: relative;
		background-color: transparent;
		color: $black;
		padding: 4px 5px;
		text-transform: uppercase;

		&:hover {
			background-color: transparent;
			color: $secondary-blue;
		}
	}

	.disabled {display: none;}
}
