/*=================================
=            Post Meta            =
=================================*/

/*----------  Meta Labels  ----------*/
.meta-label {
  @extend %post-meta;
  font-style: italic;
  color: $dark-gray;
}

/*----------  Post Format/Content Type  ----------*/
.post-format {
  @extend %content-type;
  text-transform: uppercase;
  margin-bottom: 0;

  @include breakpoint("medium") {
  	margin-bottom: 1.5rem;
  }
}

/*----------  Authors List  ----------*/
.authors-list {
	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.entry-author {
		display: inline;

		@include breakpoint("medium") {
			display: block;
			margin-bottom: 1rem;
		}

		.author-title {
			@extend %post-meta;
			display: none;

			@include breakpoint("medium") {
				display: block;
				text-transform: lowercase;
			}
		}

		&:not(:first-child) {
			.meta-label { 
				display: none;

				@include breakpoint("medium") {
					display: inline;
				}
			}
			&::before {
				content: ", ";
				margin-left: -5px;

				@include breakpoint("medium") {
					content: none;
				}
			}
		}
	}
}

/*----------  Posted On  ----------*/
.posted-on {
	@extend %post-meta;
	margin-bottom: 0;

	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.meta-label { 
		display: inline-block;
		margin-right: 0.5rem;

		@include breakpoint("medium") {
			display: block;
			margin-right: 0;
		} 
	}

	time:first-of-type::after {
			content: "";
			display: block;
			height: 1;

			@include breakpoint("medium") {
				display: none;
			}
	}

	span:nth-of-type(2) {

		@include breakpoint("medium") {
			margin-top: 1.5rem;
		}
	}
}

/*----------  Categories  ----------*/
.cat-links {
	ul {
		padding: 0;
		list-style-type: none;
		display: inline-block;
		margin-left: 0.5rem;
		margin-bottom: 0;

		@include breakpoint("medium") {
			display: block;
			margin-left: 0;
			margin-bottom: 1.5em;
		}
	}

	li {
		@extend %post-meta;
		display: inline;

		@include breakpoint("medium") {
			display: block;

			&:before {
				content: "\2014";
				color: $secondary-blue;
			}
		}

		a {
			color: $black;

			&:hover { color: $secondary-blue; }
		}
	}
}

/*----------  Tags  ----------*/
.post-tags-container {
	@extend %archive-content-type;

	@include breakpoint("medium") {
		padding-top: 3rem;
	}

	ul {
		list-style: none;
		padding: 0;
		margin-top: 0.5rem;
	}

	li {
		margin-bottom: 0.5rem;
		width: fit-content;
	}

	a {
		display: block;
		background-color: $yellow;
		color: $black;
		box-shadow: none;
		text-transform: none;
		padding: 0 0.5rem;
		font-family: $font__ptsans;
		font-weight: normal;
		line-height: 1.59;

		&:hover {
			background-color: $dark-yellow;
			color: $white;
		}
	}
}

.callout-header {
	@extend %callout-header;
}


/*----------  LinkedIn  ----------*/
.discuss-linkedin {
	background-color: $off-white;
	width: 100%;
	margin: 2rem auto;
	text-align: center;

	@include breakpoint("medium") {
		width: 55%;
	}

	a {
		display: block;
		padding: 1rem;

		&:hover {
			i { color: $dark-blue; }
			.callout-header { box-shadow: none; }
		}
	}

	i {
		@include fontSize(25px);
		color: $secondary-blue;
	}

	.callout-header {
		display: inline; 
		@include box-shadow(0,-1px,0,0, $secondary-blue, true);
	}

	p {
		@extend %post-meta;
		font-style: italic;
		color: $dark-gray;
		margin-top: 0.2rem;
		margin-bottom: 0;
	}
}

/*----------  Disclaimer  ----------*/
.post-disclaimer {
	font-family: $font__ptsans;
	@include fontSize(14px);
	line-height: 1.43;
	color: $dark-gray;
}

/*----------  Write for Us  ----------*/
.post-write {
	i { 
		@include fontSize(21px);
		color: $yellow; 
	}

	p {
		@include fontSize(16px);
		line-height: 1.5;
		margin-bottom: 0;
	}

}
