/*=================================
=            Post Meta            =
=================================*/

/*----------  Meta Labels  ----------*/
.meta-label {
  @extend %post-meta;
  font-style: italic;
  color: $dark-gray;
}

.meta-content {
	@extend %post-meta;
}

/*----------  Post Format/Content Type  ----------*/
.post-format {
  @extend %content-type;
  text-transform: uppercase;
  margin-bottom: 0;

  @include breakpoint("medium") {
  	margin-bottom: 1.5rem;
  }

  .featured {
  	display: inline-block;
  	margin-right: 1rem;
  	color: $primary-blue;
  	font-weight: bold;
  	text-transform: uppercase;
  	letter-spacing: 1.1;
  }

  .nextgen {
  	position: relative;
  	z-index: 5;
  	display: block;
  	color: $primary-blue;
  	font-weight: bold;
  	text-transform: none;
  	letter-spacing: 0.5px;

  	@include breakpoint("medium") {
	  	display: inline-block;
	  	margin-left: 0.5rem;

	  	&:before {
	  		content: "/";
	  		margin-right: 0.5rem;
	  	}
	}
  }

  .article-card & {
  	font-weight: 300;
  	line-height: 1.34;
  	letter-spacing: 1.6px;
  	color: $black;
  }
}

/*----------  Authors List  ----------*/
.authors-list {
	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	a {
		color: $black;

		&:hover { color: $secondary-blue; }
	}

	.article-card & {
		margin-bottom: 0;
	}

	.entry-author {
		display: inline;

		@include breakpoint("medium") {
			display: block;
			margin-bottom: 1rem;
		}

		.author-title {
			@extend %post-meta;
		  font-style: italic;
		  color: $dark-gray;
			display: none;

			@include breakpoint("medium") {
				display: block;
				text-transform: lowercase;
			}
		}

		&:not(:first-child) {
			.meta-label { 
				display: none;

				@include breakpoint("medium") {
					display: inline;
				}
			}
			&::before {
				content: ", ";
				margin-left: -5px;

				@include breakpoint("medium") {
					content: none;
				}
			}
		}

		.article-card & {
			display: inline;

			.author-title { display: none; }

			&:not(:first-child) {
				.meta-label { 
					display: none;
				}
				&::before {
					content: ", ";
					margin-left: -5px;
				}
			}
		}
	}
}

.authors-list-extended {
	margin-bottom: 2rem;

	@include breakpoint("medium") {
		margin-bottom: 0;
	}

	.entry-author {
		margin-bottom: 1.5rem;
	}

	.section-header { 
		text-transform: uppercase;
		margin: 0 0 0.5rem 0; 
	}

	a {
		text-transform: none;
		color: $secondary-blue;
		font-weight: normal;
	}

	.author-title {
		display: inline;
		color: $dark-gray;

		@include breakpoint("medium") {
			display: none;
		}
	}

	p {
		@extend .body-small;
		margin-bottom: 0;
	}
}

/*----------  Posted On  ----------*/
.posted-on {
	@extend %post-meta;
	margin-bottom: 0;

	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.meta-label { 
		display: inline-block;
		margin-right: 0.5rem;

		@include breakpoint("medium") {
			display: block;
			margin-right: 0;
		} 
	}

	time:first-of-type::after {
			content: "";
			display: block;
			height: 1;

			@include breakpoint("medium") {
				display: none;
			}
	}

	span:nth-of-type(2) {

		@include breakpoint("medium") {
			margin-top: 1.5rem;
		}
	}

	.article-card & {
		margin-bottom: 0;
		.meta-label {
			display: inline-block;
			margin-right: 0.5rem;
		}

		span:nth-of-type(2),
		time:nth-of-type(2) {
			display: none;
		}
	}
}

/*----------  Categories  ----------*/
.cat-links {
	ul {
		padding: 0;
		list-style-type: none;
		display: inline-block;
		margin-left: 0.5rem;
		margin-bottom: 0;

		@include breakpoint("medium") {
			display: block;
			margin-left: 0;
		}
	}

	li {
		@extend %post-meta;
		display: inline;

		@include breakpoint("medium") {
			display: block;
		}

		&:first-of-type::before {
			content: none;

			@include breakpoint("medium") {
				content: "\2014";
				color: $secondary-blue;
			}
		}

		&::before {
			content: ", ";

			@include breakpoint("medium") {
				content: "\2014";
				color: $secondary-blue;
			}
		}

		a {
			color: $black;

			&:hover { color: $secondary-blue; }
		}
	}

	.article-card & {
		.meta-label { display: inline; }
		ul {
			padding: 0;
			list-style-type: none;
			display: inline;
			margin-bottom: 0;
		}

		li {
			display: inline;

			&:first-of-type:before {
				content: none;
			}

			&:not(:first-of-type):before {
				content: ", ";
				color: $black;
				margin-left: -4px;
			}
		}
	}
}

/*----------  Tags  ----------*/
.post-tags-container {
	@extend %archive-content-type;

	@include breakpoint("medium") {
		padding-top: 3rem;
	}

	ul {
		list-style: none;
		padding: 0;
		margin-top: 0.5rem;
	}

	li {
		margin-bottom: 0.5rem;
		width: fit-content;
		display: inline-block;
		margin-right: 0.5rem;

		@include breakpoint("medium") {
			display: block;
			margin-right: 0;
		}
	}

	a {
		display: block;
		background-color: $yellow;
		color: $black;
		box-shadow: none;
		text-transform: none;
		padding: 0 0.5rem;
		font-family: $font__ptsans;
		font-weight: normal;
		line-height: 1.59;

		&:hover {
			background-color: $dark-yellow;
			color: $white;
		}
	}
}

/*----------  PONI Sponsored  ----------*/
.poni-sponsored {
	@include breakpoint("medium") {
		margin-top: -1.5rem;
		margin-bottom: 1.5rem;
	}

	i {
		margin: 0;
		@include fontSize(14px);
		color: $yellow;

		&::before {
			margin: 0;
		}
	}
}

/*----------  Location  ----------*/
.post-location {
	@extend %post-meta;
	margin-bottom: 0;

	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.meta-label {
		@include breakpoint("medium") {
			display: block;
		}
	}
}

/*----------  Dates  ----------*/
.post-event-dates {
	@extend %post-meta;
	margin-bottom: 0;

	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.meta-label {
		@include breakpoint("medium") {
			display: block;
		}
	}
}

/*----------  More Info  ----------*/
.post-info-url {
	margin-top: 1.5rem;
	
	a {
		color: $black;
		text-transform: uppercase;

		&:hover {
			color: $black;
		}
	}
}
