/*====================================
=            Social Share            =
====================================*/

.addtoany_list {
	line-height: inherit !important;
	display: flex;
	flex-grow: 1;

	@include breakpoint("medium") {
		display: block;
		width: 100%;
		border-top: 1px solid $gray;
		padding-top: 0.5rem;
		margin-top: 1.5rem;
	}

	a {
		text-align: center;
		flex-grow: 1;
		box-shadow: none;

		@include breakpoint("medium") {
			width: unset;
			text-align: left;
			margin-right: 1rem;
		}

		&:hover .a2a_svg:before { 
			color: $white;

			@include breakpoint("medium") {
				color: $secondary-blue;
				@include transition(color .3s ease-in-out);
			}
		}

		// Background Colors
		&.a2a_button_facebook { background-color: $color__facebook; }
		&.a2a_button_twitter { background-color: $color__twitter; }
		&.a2a_button_linkedin { background-color: $color__linkedin; }
		&.a2a_button_email { background-color: $color__email; }

		@include breakpoint("medium") {
			&.a2a_button_facebook,
			&.a2a_button_twitter,
			&.a2a_button_linkedin,
			&.a2a_button_email {
				background-color: transparent;
			}
		}
	}

	.a2a_button_copy_link {
		display: none;

		@include breakpoint("medium") {
			display: inline;
		}
	}

	.a2a_svg {
		background-color: transparent !important;

		&:before {
			font-family: 'poni';
			color: $white;
			line-height: 1;
			display: inline-block;
			vertical-align: bottom;

			@include breakpoint("medium") {
				color: $black;
				vertical-align: middle;
			}
		}

		/* Facebook */
		&.a2a_s_facebook:before {
			content: "\f30c";
		}

		/* Twitter */
		&.a2a_s_twitter:before {
			content: "\f309";
		}

		/* LinkedIn */
		&.a2a_s_linkedin:before {
			content: "\f318";
		}

		/* Email */
		&.a2a_s_email:before {
			content: "\e807";
		}

		/* Copy Link */
		&.a2a_s_link:before {
			content: "\e805";
		}

		svg {display: none;}
	}

	& a>span {
		width: inherit !important;
		height: inherit !important;
		line-height: inherit !important;
		display: inline-block;
		vertical-align: middle;
		@include fontSize(19px);
	}
}

/*----------  Share Container  ----------*/
.share-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	height: 36px;
	@include box-shadow( 0, 2px, 4px, 0, rgba($black, 0.5));

	@include breakpoint("medium") {
		position: static;
		height: unset;
		box-shadow: none;
	}

	i {
		color: $white;
		@include fontSize(20px);
	}

	button {
		padding: 0;
		margin: 0;
		line-height: 1.5;
		text-transform: uppercase;
		color: $off-white;
	}

	.share-open-container {
		background-color: $primary-blue;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		height: 100%;
		left: 0;
		opacity: 1;
		visibility: visible;
		position: static;

		@include breakpoint("medium") {
			display: none;
		}
	}

	.to-top {
		display: inline-block;
		float: right;
	}

	.share-close-container {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $secondary-blue;
		text-align: center;

		@include breakpoint("medium") {
			opacity: 1;
			visibility: visible;
			position: static;
			background-color: transparent;
			text-align: left;
		}

		.share-close {
			flex-grow: 1;
			max-width: 20%;

			@include breakpoint("medium") {
				display: none;
			}
		}
	}

	.is-active {
		display: flex;
		opacity: 1;
		visibility: visible;
		left: 0;
		transition-delay: 2s;
		@include transition(visibility 0s, opacity 0.2s linear, left 0.3s ease-in);
	}

	.is-hidden {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: -100%;
		@include transition(visibility 0s, position 0s, opacity 0.5s linear, left 0.2s ease-in);
	}
}
