/*====================================
=            Social Share            =
====================================*/

.addtoany_list {
	line-height: inherit !important;
	border-top: 1px solid $gray;
	padding-top: 0.5rem;

	a {
		margin-right: 1rem;

		&:hover .a2a_svg:before { 
			color: $secondary-blue;
			@include transition(color .3s ease-in-out);
		}
	}

	.a2a_svg {
		background-color: transparent !important;

		&:before {
			font-family: 'poni';
			color: $black;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
		}

		/* Facebook */
		&.a2a_s_facebook:before {
			content: "\f30c";
		}

		/* Twitter */
		&.a2a_s_twitter:before {
			content: "\f309";
		}

		/* LinkedIn */
		&.a2a_s_linkedin:before {
			content: "\f318";
		}

		/* Email */
		&.a2a_s_email:before {
			content: "\e807";
		}

		/* Copy Link */
		&.a2a_s_link:before {
			content: "\e805";
		}

		svg {display: none;}
	}

	& a>span {
		width: inherit !important;
		height: inherit !important;
		line-height: inherit !important;
		display: inline-block;
		vertical-align: middle;
		@include fontSize(19px);
	}
}
