@use '../abstracts' as *;

.wp-block-lazyblock-report-block {
  --margin-text-side: auto;
  --margin-gutter-side: auto;
  margin: 0 auto;
  max-width: 240px !important; // Override the alignment max-width

  @include breakpoint('large'){
    --margin-text-side: rem(48);
    --margin-gutter-side: 6vw;
  }

  @include breakpoint('xxlarge'){
    --margin-gutter-side: rem(80);
  }


  .csis-block--publication {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: rem(12);
    padding-bottom: rem(32);
    transition: background 0.3s ease-in-out;

    .btn {
      width: rem(184);
    }

    figcaption {
      @extend %text-style-label-large;
      font-weight: 700;
      color: $color-black-190;
    }
  }
}
