/*=============================
=            Icons            =
=============================*/

.icon-blue {
  color: $primary-blue;
}

.icon-block-left {
  float: left;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  clear: both;
}