ul, ol {
	margin: 0 0 1.5em 0;
	font-family: $font__ptsans;
	@include fontSize(16px);
	line-height: 1.3;

	li {
		margin-bottom: 0.75rem;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}