table {
	margin: 2rem auto;
	width: 100%;
	border-collapse: collapse;
	overflow-x: scroll;
	font-family: $font__lato;

	thead {
		border: 1px solid $dark-blue;
		border-bottom: 0;

		th {
			display: none;
			background-color: $dark-blue;
			color: $white;
			@include fontSize(20px);
			font-weight: normal;

			&.show-xs {
				display: table-cell;
			}

			@include breakpoint("medium") {
				display: table-cell;
			}
			
			&.title {
				display: table-cell;
				background-color: transparent;
				border:1px solid transparent;
				@include fontSize(25px);
				font-weight: 400;
				line-height: 1.36;
				color: $black;
				text-align: center;
			}
		}
	}

	th, td {
		padding: 10px;
		text-align: left;

		&.colorBG {
			background-color: $off-white;
		}
	}

	td {
		border: 1px solid $light-gray;
		letter-spacing: 0.5px;
		font-family: $font__lato;
		@include fontSize(16px);
	}

	tbody tr:nth-child(even) { background-color: $white; }
	tbody tr:nth-child(odd) { background-color: $off-white; }

	&.plain {
		tbody tr:nth-child(even) { background-color: $white; }
		tbody tr:nth-child(odd) { background-color: $white; }
	}

	&.showData td.showData,
	&.showData th.showData {
		display: block;

		@include breakpoint("medium") {
			display: table-cell;
		}

		&:before {
			content: attr(data-th)": ";
		    font-weight: bold;
		    display: inline-block;
		    margin-right: 0.25rem;

		    @include breakpoint("medium") {
		    	content: none;
		    }
		}
	}

	&.showData td {
		display: block;

		@include breakpoint("medium") {
			display: table-cell;

			&.hidden-xs {
				display: table-cell;
			}
		}
	}

	tfoot td.source {
		border: 0;
		text-align: right;
		color: #999;
		@include fontSize(9px);
		padding: 5px 0;
	}
}