/*==============================
=            Footer            =
==============================*/

footer.site-footer {
	background-color: $dark-blue;
	margin-top: 3rem;

	.site-info {
		padding: 2rem 0.5rem 0;

		// Description & Disclaimer
		.footer-info {
			@include breakpoint("medium") {
				padding-right: 3rem;
			}

			img {
				margin-bottom: 1.5rem;
			}

		.footer__related img {
			max-width: 200px;
			
			@include breakpoint("medium") {
				max-width: 300px;
			}
		}

			a {
				color: $light-blue;
				text-decoration: underline;

				&:hover { color: $white; }
			}

			.footer-disclaimer {
				@include fontSize(14px);
				line-height: 1.53;
				font-style: italic;
			}
		}

		// Contact Info
		.footer-contact {
			@include breakpoint("medium") {
				padding: 0;
			}

			a {
				color: $light-blue;

				&:hover { color: $white; }
			}

			.footer-social { 
				list-style: none; 
				padding: 0;
			}
			.footer-social li {
				display: inline-block;
				margin-right: 0.5rem;

				a {
					background-color: $yellow;
					border-radius: 50%;
					text-align: center;
			    padding: 1rem;
			    position: relative;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    color: $dark-blue;

			    &:hover { background-color: $dark-yellow; }
				}

				i {
					position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%, -50%);
				}
			}
		}

		// Newsletters
		.footer-newsletters {
			@include breakpoint("medium") {
				padding-left: 1.5rem;
			}
		}

		.section-title {
			@extend %archive-content-type;
			color: $white;
			margin: 0 0 0.5rem 0;
		}

		.footer-subtitle {
			@extend %footer-text;
			color: $yellow;
			margin: 0;
		}

		p,
		address {
			@extend %footer-text;
			color: $light-blue;
			margin-bottom: 1.5rem;
		}

		address {
			font-style: normal;
		}

		.newsletter-desc { margin-bottom: 0; }

		.btn-blue {
			color: $white;
			display: inline-block;
			margin: 0.5rem 0 2rem 0;
			text-transform: uppercase;
		}
	}

	.footer-copyright {
		background-color: $primary-blue;
		padding: .5rem;
		display: block;

		@include breakpoint("medium") {
			margin-top: 1rem;
		}

		p {
			font-family: $font__ptsans;
			@include fontSize(14px);
			line-height: 1.53;
			color: $medium-blue;
			margin-bottom: 0;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}

		a {
			color: $medium-blue;
			&:hover { color: $white; }
		}
	}
}
