/*==============================
=            Footer            =
==============================*/

footer.site-footer {
	background-color: $dark-blue;
	margin-top: 3rem;

	.footer-logoContainer {
		background-color: $blue;
		padding: 1rem 0 0 0;

		@include breakpoint("medium") {
			padding: 1rem 0;
		}
	}

	.site-info {
		padding: 1.5rem 0 0;

		@include breakpoint("medium") {
			.footer-info {
				padding-right: 1.5rem;
			}

			.footer-contact {
				padding: 0;
			}

			.footer-newsletters {
				padding-left: 1.5rem;
			}
		}

		h3 {
			font-family: $font__Hind;
			@include fontSize(18px);
			font-weight: 600;
			line-height: 1.33;
			letter-spacing: 1.1px;
			color: $white;
			text-transform: uppercase;
			margin: 0 0 0.25rem 0;
		}

		p, address {
			@include fontSize(15px);
			line-height: 1.6;
			color: $light-blue;
			margin-bottom: 0;
		}

		address {
			font-style: normal;
		}

		.btn-blue {
			color: $white;
			display: inline-block;
			margin: 0.5rem 0 0 0;

			.icon {
				margin-left: -3px;
				margin-top: 2px;
				@include fontSize(10px);
				width: initial;
			}
		}
	}

	.footer-copyright {
		background-color: $color__background-button-blue;
		padding: .5rem;
		display: block;

		@include breakpoint("medium") {
			margin-top: 1rem;
		}

		p {
			@include fontSize(15px);
			line-height: 1.6;
			color: $blue;
			margin-bottom: 0;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}
	}
}
