/*==============================
=            Header            =
==============================*/

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	body.admin-bar & { top: 32px; }

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline-block;
		margin: 0;
	}

	.search-container {
		text-align: right;
	}
}

.header-logo {
	position: relative;
	z-index: 5;
	background-color: $dark-blue;
	text-align: center;

	@include breakpoint("small") {
		@include box-shadow( 0, 2px , 10px , 0 , rgba($black, 0.5));
	}

	.logo-big {
		display: none;
		width: 90%;
		height: auto;
		max-height: 90px;
		margin: 0.5rem auto;

		@include breakpoint("small") {
			display: block;
		}
	}

	.logo-small {
		width: 90%;
		height: auto;
		max-height: 40px;
		margin: 0.5rem auto;

		@include breakpoint("small") {
			display: none;
		}
	}

	&.is-minimal {
		box-shadow: none;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			width: 100vw;
			height: 100%;
			background-color: $dark-blue;
		}

		.logo-big { display: none; }
		.logo-small { display: block; }
	}
}

.header-top {
	display: none;

	@include breakpoint("small") {
		position: relative;
		display: block;
		height: $size__header-top-height;
		background-color: $primary-blue;

		&::after,
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: 100vw;
			height: 100%;
			background-color: $primary-blue;
		}

		&::after {
			left: 100%;
		}

		&::before {
			right: 100%;
		}

		.is-minimal & {
			display: none;
		}
	}
}

.header-bottom {
	position: relative;
	height: $size__header-bottom-height;
	background-color: $secondary-blue;

	&::after,
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100%;
		background-color: $secondary-blue;
	}

	&::after {
		left: 100%;
	}

	&::before {
		right: 100%;
	}

	.is-minimal & {
		height: $size__header-bottom-height-mobile;
	}
}

#primary-menu {
	position: relative;

		li.apply {
			@include breakpoint("medium") {
				position: absolute;
				right: 0;
			}
		}
	}