/*==============================
=            Header            =
==============================*/

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	body.admin-bar & { top: 32px; }

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline-block;
		margin: 0;
	}
}

.header-logo {
	position: absolute;
	z-index: 5;
	max-width: 25%;
	background-color: $dark-blue;
}

.header-top {
	display: none;

	@include breakpoint("large") {
		display: block;
		background-color: $primary-blue;
		padding-left: 25%;
	}
}

.header-bottom {
	background-color: $secondary-blue;
	padding-left: 25%;
}

#primary-menu {
	position: relative;

		li.apply {
			@include breakpoint("medium") {
				position: absolute;
				right: 0;
			}
		}
	}